In [7]:
## Optional
# Format output of Jupyter Notebook
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

# Hide python warnings
import warnings
warnings.filterwarnings('ignore')

# Initialize Spark Session with configs

In [4]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from pyspark.sql.functions import lit, isnull, when, count, col, regexp_extract, concat_ws, to_date, expr, quarter, when, date_add, year, month, day, dayofweek, broadcast, avg, min, max, like

# TODO - parameterize endpoints/ports such as minio:9000 with envs

# Define config for SparkSession,
# such as Iceberg catalog that utilizes minio, an S3-compatible local object storage
spark_configs = {
    'spark.master': 'spark://spark-iceberg:7077',
    'spark.sql.catalog.airline': 'org.apache.iceberg.spark.SparkCatalog',
    # 'spark.sql.catalog.airline': 'org.apache.iceberg.spark.SparkSessionCatalog',
    'spark.sql.catalog.airline.io-impl': 'org.apache.iceberg.aws.s3.S3FileIO',
    'spark.sql.catalog.airline.s3.endpoint': 'http://minio:9000',
    'spark.sql.catalog.airline.type': 'rest',
    'spark.sql.catalog.airline.uri': 'http://rest:8181',
    'spark.sql.catalog.airline.warehouse': 's3://warehouse',
    'spark.sql.defaultCatalog': 'airline',
    'spark.executor.memory': '2g'
}

# Initialize SparkSession
spark = (
    SparkSession
    .builder
    .appName('EDA')
    .config(map=spark_configs)
    .getOrCreate()
)

In [5]:
spark.conf.get('spark.executor.memory')

'2g'

In [7]:
import pprint as pp

# print(spark.sparkContext.uiWebUrl)

print(spark.conf.get('spark.app.id'))
print(spark.conf.get('spark.app.name'))
print(spark.conf.get('spark.app.startTime'))
print(spark.conf.get('spark.master'))
print()
print(spark.conf.get('spark.sql.catalog.airline'))
print(spark.conf.get('spark.sql.catalog.airline.io-impl'))
print(spark.conf.get('spark.sql.catalog.airline.s3.endpoint'))
print(spark.conf.get('spark.sql.catalog.airline.type'))
print(spark.conf.get('spark.sql.catalog.airline.uri'))
print(spark.conf.get('spark.sql.catalog.airline.warehouse'))
print()

                     
# pp.pp(dict(sc.getConf().getAll()), sort_dicts=True, )

local-1734722159949
EDA
1734722158776
spark://spark-iceberg:7077

org.apache.iceberg.spark.SparkCatalog
org.apache.iceberg.aws.s3.S3FileIO
http://minio:9000
rest
http://rest:8181
s3://warehouse

# Ingest raw csv data

### Read flights.csv and perform transforms

In [2]:
# Ingest flights data

# TODO: Fix nullables column, cant set column as Not-Nullable for some reason...

# Define ingest schema
flights_schema = StructType([
    StructField("year", IntegerType(), False),   # Non-Nullable
    StructField("month", IntegerType(), False),  # Non-Nullable
    StructField("day", IntegerType(), False),    # Non-Nullable
    StructField("day_of_week", IntegerType(), False),    # Non-Nullable
    StructField("airline", StringType(), False),         # Non-Nullable
    StructField("flight_number", IntegerType(), False),  # Non-Nullable
    StructField("tail_number", StringType(), True),
    StructField("origin_airport", StringType(), False),  # Non-Nullable
    StructField("destination_airport", StringType(), False),   # Non-Nullable
    StructField("scheduled_departure", IntegerType(), False),  # Non-Nullable
    StructField("departure_time", IntegerType(), True),
    StructField("departure_delay", IntegerType(), True),
    StructField("taxi_out", IntegerType(), True),
    StructField("wheels_off", IntegerType(), True),
    StructField("scheduled_time", IntegerType(), True),
    StructField("elapsed_time", IntegerType(), True),
    StructField("air_time", IntegerType(), True),
    StructField("distance", IntegerType(), False),  # Non-Nullable
    StructField("wheels_on", IntegerType(), True),
    StructField("taxi_in", IntegerType(), True),
    StructField("scheduled_arrival", IntegerType(), False),  # Non-Nullable
    StructField("arrival_time", IntegerType(), True),
    StructField("arrival_delay", IntegerType(), True),
    StructField("diverted", IntegerType(), False),   # Non-Nullable
    StructField("cancelled", IntegerType(), False),  # Non-Nullable
    StructField("cancellation_reason", StringType(), True),
    StructField("air_system_delay", IntegerType(), True),
    StructField("security_delay", IntegerType(), True),
    StructField("airline_delay", IntegerType(), True),
    StructField("late_aircraft_delay", IntegerType(), True),
    StructField("weather_delay", IntegerType(), True)
])


# Read flights.csv
filename = '/home/iceberg/data/flights.csv'
flights_df = spark.read.schema(flights_schema).csv(
    '/home/iceberg/data/flights.csv',
    schema=flights_schema,
    enforceSchema=True,
    header = True
)

# Add date column and remove other date-related columns
flights_df = flights_df \
    .withColumn('date', to_date(concat_ws('-', 'year', 'month', 'day'))) \
    .drop('year', 'month', 'day', 'day_of_week')

# Add is_delayed column (when scheduled_departure > 0)
flights_df = flights_df \
    .withColumn(
        'is_delayed',
        when(col('departure_delay') > 0, lit(1)).otherwise(lit(0))
    )

# Rearrange date to be first column,
flights_df = flights_df.select('date', *[col(c) for c in flights_df.columns if c != 'date'])

# Sort by date and schedule_departure time
flights_df = flights_df.sort(['date', 'scheduled_departure'])

# flights_df.cache()
# flights_df.printSchema()
flights_df.show()
flights_df.explain()

24/12/27 23:57:17 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015-01-01|     AS|           98|     N407AS|           ANC|                SEA|                  5|          2354|            -11|      21|        15|           205|         194|     169|    1448|      404|      4|              430|         408|          -22|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|             2|             -8|      12|        14|           280|         279|     263|    2330|      737|      4|              750|         741|           -9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     US|          840|     N171US|           SFO|                CLT|                 20|            18|             -2|      16|        34|           286|         293|     266|    2296|      800|     11|              806|         811|            5|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|            15|             -5|      15|        30|           285|         281|     258|    2342|      748|      8|              805|         756|           -9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AS|          135|     N527AS|           SEA|                ANC|                 25|            24|             -1|      11|        35|           235|         215|     199|    1448|      254|      5|              320|         259|          -21|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|          806|     N3730B|           SFO|                MSP|                 25|            20|             -5|      18|        38|           217|         230|     206|    1589|      604|      6|              602|         610|            8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     NK|          612|     N635NK|           LAS|                MSP|                 25|            19|             -6|      11|        30|           181|         170|     154|    1299|      504|      5|              526|         509|          -17|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     US|         2013|     N584UW|           LAX|                CLT|                 30|            44|             14|      13|        57|           273|         249|     228|    2125|      745|      8|              803|         753|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-01-01|     AA|         1112|     N3LAAA|           SFO|                DFW|                 30|            19|            -11|      17|        36|           195|         193|     173|    1464|      529|      3|              545|         532|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         1173|     N826DN|           LAS|                ATL|                 30|            33|              3|      12|        45|           221|         203|     186|    1747|      651|      5|              711|         656|          -15|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-01-01|     DL|         2336|     N958DN|           DEN|                ATL|                 30|            24|             -6|      12|        36|           173|         149|     133|    1199|      449|      4|              523|         453|          -30|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AA|         1674|     N853AA|           LAS|                MIA|                 35|            27|             -8|      21|        48|           268|         266|     238|    2174|      746|      7|              803|         753|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         1434|     N547US|           LAX|                MSP|                 35|            35|              0|      18|        53|           214|         210|     188|    1535|      601|      4|              609|         605|           -4|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         2324|     N3751B|           SLC|                ATL|                 40|            34|             -6|      18|        52|           215|         199|     176|    1590|      548|      5|              615|         553|          -22|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         2440|     N651DL|           SEA|                MSP|                 40|            39|             -1|      28|       107|           189|         198|     166|    1399|      553|      4|              549|         557|            8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AS|          108|     N309AS|           ANC|                SEA|                 45|            41|             -4|      17|        58|           204|         194|     173|    1448|      451|      4|              509|         455|          -14|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         1560|     N3743H|           ANC|                SEA|                 45|            31|            -14|      25|        56|           210|         200|     171|    1448|      447|      4|              515|         451|          -24|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     UA|         1197|     N78448|           SFO|                IAH|                 48|            42|             -6|      11|        53|           218|         217|     199|    1635|      612|      7|              626|         619|           -7|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     AS|          122|     N413AS|           ANC|                PDX|                 50|            46|             -4|      11|        57|           215|         201|     187|    1542|      504|      3|              525|         507|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-01-01|     DL|         1670|     N806DN|           PDX|                MSP|                 50|            45|             -5|       9|        54|           193|         186|     171|    1426|      545|      6|              603|         551|          -12|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [date#62 ASC NULLS FIRST, scheduled_departure#9 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(date#62 ASC NULLS FIRST, scheduled_departure#9 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=22]
      +- Project [cast(concat_ws(-, cast(year#0 as string), cast(month#1 as string), cast(day#2 as string)) as date) AS date#62, airline#4, flight_number#5, tail_number#6, origin_airport#7, destination_airport#8, scheduled_departure#9, departure_time#10, departure_delay#11, taxi_out#12, wheels_off#13, scheduled_time#14, elapsed_time#15, air_time#16, distance#17, wheels_on#18, taxi_in#19, scheduled_arrival#20, arrival_time#21, arrival_delay#22, diverted#23, cancelled#24, cancellation_reason#25, air_system_delay#26, ... 5 more fields]
         +- FileScan csv [year#0,month#1,day#2,airline#4,flight_number#5,tail_number#6,origin_airport#7,destination_airport#8,scheduled_departure#9,departure_time#10,departure_delay#11,taxi_out#12,wheels_off#13,scheduled_time#14,elapsed_time#15,air_time#16,distance#17,wheels_on#18,taxi_in#19,scheduled_arrival#20,arrival_time#21,arrival_delay#22,diverted#23,cancelled#24,... 6 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/flights.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<year:int,month:int,day:int,airline:string,flight_number:int,tail_number:string,origin_airp...

In [ ]:
# Experimenting

# flights_df.groupBy(['flight_number', 'tail_number']).count().show()
# flights_df.filter(col('flight_number') == 2519).sort(['airline', 'month', 'day']).show(50)

# # Spark SQL
# date_df = flights_df.select(['year', 'month', 'day', 'day_of_week']).withColumn('date', expr('to_date(concat(year, "-", month))'))

### Create dim_date table

In [2]:
# Original day_of_week 1 is Monday, spark dayofweek 1 is Sunday
date_df = spark.range(365) \
    .withColumn('date', expr('date_add("2015-01-01", CAST(id AS INT))')) \
    .withColumn('year', year('date')) \
    .withColumn('month', month('date')) \
    .withColumn('day', day('date')) \
    .withColumn('day_of_week', dayofweek('date')) \
    .withColumn('quarter', quarter('date')) \
    .drop('id')

# List of U.S. federal holidays
us_holidays_2015 = [
    ("2015-01-01", "New Year's Day"),
    ("2015-01-19", "Martin Luther King Jr. Day"),
    ("2015-02-16", "Presidents' Day"),
    ("2015-05-25", "Memorial Day"),
    ("2015-07-04", "Independence Day"),
    ("2015-09-07", "Labor Day"),
    ("2015-10-12", "Columbus Day"),
    ("2015-11-11", "Veterans Day"),
    ("2015-11-26", "Thanksgiving Day"),
    ("2015-12-25", "Christmas Day"),
]

# Create holidays_df and cast date from STRING to DATE type
holidays_df = spark.createDataFrame(us_holidays_2015, ['holiday_date', 'holiday_name'])
holidays_df = holidays_df.withColumn('holiday_date', to_date('holiday_date'))

# Join holidays to date_df and add is_holiday column
date_df = date_df \
    .join(
        broadcast(holidays_df),
        date_df.date == holidays_df.holiday_date,
        'left'
    ) \
    .withColumn(
        'is_holiday',
        when(col('holiday_name').isNotNull(), lit(True)).otherwise(lit(False))
    ) \
    .drop('holiday_date') \
    .sort('date')

# Rearrange date to be first column,
date_df = date_df.select('date', *[col(c) for c in date_df.columns if c != 'date'])

date_df.show()
date_df.explain()

+----------+----+-----+---+-----------+-------+--------------------+----------+
|      date|year|month|day|day_of_week|quarter|        holiday_name|is_holiday|
+----------+----+-----+---+-----------+-------+--------------------+----------+
|2015-01-01|2015|    1|  1|          5|      1|      New Year's Day|      true|
|2015-01-02|2015|    1|  2|          6|      1|                NULL|     false|
|2015-01-03|2015|    1|  3|          7|      1|                NULL|     false|
|2015-01-04|2015|    1|  4|          1|      1|                NULL|     false|
|2015-01-05|2015|    1|  5|          2|      1|                NULL|     false|
|2015-01-06|2015|    1|  6|          3|      1|                NULL|     false|
|2015-01-07|2015|    1|  7|          4|      1|                NULL|     false|
|2015-01-08|2015|    1|  8|          5|      1|                NULL|     false|
|2015-01-09|2015|    1|  9|          6|      1|                NULL|     false|
|2015-01-10|2015|    1| 10|          7|      1|                NULL|     false|
|2015-01-11|2015|    1| 11|          1|      1|                NULL|     false|
|2015-01-12|2015|    1| 12|          2|      1|                NULL|     false|
|2015-01-13|2015|    1| 13|          3|      1|                NULL|     false|
|2015-01-14|2015|    1| 14|          4|      1|                NULL|     false|
|2015-01-15|2015|    1| 15|          5|      1|                NULL|     false|
|2015-01-16|2015|    1| 16|          6|      1|                NULL|     false|
|2015-01-17|2015|    1| 17|          7|      1|                NULL|     false|
|2015-01-18|2015|    1| 18|          1|      1|                NULL|     false|
|2015-01-19|2015|    1| 19|          2|      1|Martin Luther Kin...|      true|
|2015-01-20|2015|    1| 20|          3|      1|                NULL|     false|
+----------+----+-----+---+-----------+-------+--------------------+----------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [date#2 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(date#2 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=116]
      +- Project [date#2, year#5, month#9, day#14, day_of_week#20, quarter#27, holiday_name#42, isnotnull(holiday_name#42) AS is_holiday#64]
         +- BroadcastHashJoin [date#2], [holiday_date#45], LeftOuter, BuildRight, false
            :- Project [date#2, year(date#2) AS year#5, month(date#2) AS month#9, day(date#2) AS day#14, dayofweek(date#2) AS day_of_week#20, quarter(date#2) AS quarter#27]
            :  +- Project [date_add(2015-01-01, cast(id#0L as int)) AS date#2]
            :     +- Range (0, 365, step=1, splits=12)
            +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, date, true]),false), [plan_id=112]
               +- Project [cast(holiday_date#41 as date) AS holiday_date#45, holiday_name#42]
                  +- Filter isnotnull(cast(holiday_date#41 as date))
                     +- Scan ExistingRDD[holiday_date#41,holiday_name#42]

# Explore data!

TODO:
- Check statistics of important columns, like what are the percentiles for departure/arrival delay?
- Check max values for delay

## Total number of flight records: 5,819,079

In [32]:
flights_df.count()

5819079

## Total number of cancelled flights: 89,884
These will cause nulls in other columns.

In [184]:
cancelled_df = flights_df.where('cancelled = 1')
cancelled_df.count()
# total_df.show()

# Find flights that were taxied out or took off, but were ultimately cancelled
cancelled_df.filter(col('departure_delay').isNotNull()).show()

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|year|month|day|day_of_week|quarter|holiday_name|is_holiday|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|2015-07-01|     OO|         4491|     N608SK|           SEA|                BOI|                745|           904|             79|    NULL|      NULL|            88|        NULL|    NULL|     399|     NULL|   NULL|             1013|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|          145|     N66051|           IAD|                HNL|                855|          1110|            135|    NULL|      NULL|           614|        NULL|    NULL|    4817|     NULL|   NULL|             1309|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         4488|     N461SW|           FWA|                ATL|               1107|          1113|              6|    NULL|      NULL|           121|        NULL|    NULL|     508|     NULL|   NULL|             1308|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|          300|     N555AA|           ORD|                LAS|               1330|          1454|             84|    NULL|      NULL|           240|        NULL|    NULL|    1514|     NULL|   NULL|             1530|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|          610|     N412WN|           SNA|                SJC|               1500|          1456|             -4|    NULL|      NULL|            70|        NULL|    NULL|     342|     NULL|   NULL|             1610|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         6505|     N959SW|           MTJ|                DEN|               1650|          1722|             32|    NULL|      NULL|            64|        NULL|    NULL|     196|     NULL|   NULL|             1754|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         2887|     N466SW|           LAX|                MRY|               2105|          2100|             -5|      28|      2128|            65|        NULL|    NULL|     266|     NULL|   NULL|             2210|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|         1569|     N761RR|           ATL|                BOS|               2205|           105|            180|    NULL|      NULL|           155|        NULL|    NULL|     946|     NULL|   NULL|               40|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-02|     OO|         2851|     N864AS|           SMF|                LAX|                620|           628|              8|    NULL|      NULL|            94|        NULL|    NULL|     373|     NULL|   NULL|              754|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     UA|         1172|     N69810|           IAH|                DFW|                730|           731|              1|      15|       746|            77|        NULL|    NULL|     224|     NULL|   NULL|              847|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     UA|          256|     N824UA|           AUS|                IAH|                820|           818|             -2|    NULL|      NULL|            60|        NULL|    NULL|     140|     NULL|   NULL|              920|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     AA|         2332|     N8ADAA|           DFW|                ORD|                830|           929|             59|    NULL|      NULL|           140|        NULL|    NULL|     802|     NULL|   NULL|             1050|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     OO|         5595|     N927SW|           DEN|                LNK|               1004|          1024|             20|      12|      1036|            83|        NULL|    NULL|     423|     NULL|   NULL|             1227|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     UA|          788|     N537UA|           SFO|                BOS|               1143|          1140|             -3|    NULL|      NULL|           347|        NULL|    NULL|    2704|     NULL|   NULL|             2030|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     DL|         1920|     N935AT|           EWR|                ATL|               1145|          1144|             -1|    NULL|      NULL|           140|        NULL|    NULL|     746|     NULL|   NULL|             1405|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     MQ|         3279|     N900MQ|           DFW|                SGF|               1840|          1905|             25|    NULL|      NULL|            89|        NULL|    NULL|     364|     NULL|   NULL|             2009|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-02|     UA|         1192|     N36280|           SFO|                LAX|               1903|          2001|             58|    NULL|      NULL|           104|        NULL|    NULL|     337|     NULL|   NULL|             2047|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  2|          5|      3|        NULL|     false|
|2015-07-03|     OO|         6420|     N718SK|           PSP|                DEN|                600|           554|             -6|    NULL|      NULL|           129|        NULL|    NULL|     776|     NULL|   NULL|              909|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  3|          6|      3|        NULL|     false|
|2015-07-03|     OO|         5303|     N934SW|           AVL|                ORD|                610|           609|             -1|    NULL|      NULL|           107|        NULL|    NULL|     536|     NULL|   NULL|              657|        NULL|         NULL|       0|        1|                  A|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  3|          6|      3|        NULL|     false|
|2015-07-03|     AA|          469|     N162UW|           CLT|                ATL|                755|           750|             -5|    NULL|      NULL|            79|        NULL|    NULL|     226|     NULL|   NULL|              914|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  3|          6|      3|        NULL|     false|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
only showing top 20 rows

In [196]:
# Confirm cancellation reason is not null only when cancelled == 1
flights_df.filter(
    (col('cancelled') == 0) & (col('cancellation_reason').isNotNull())
).show()

+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|year|month|day|day_of_week|quarter|holiday_name|is_holiday|
+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+

## Total number of diverted flights: 15,187

In [189]:
diverted_df = flights_df.where('diverted = 1')
print(diverted_df.count())
diverted_df.show()
diverted_df.filter(col('arrival_delay').isNotNull()).show()

15187
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|year|month|day|day_of_week|quarter|holiday_name|is_holiday|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|2015-07-01|     WN|          662|     N739GB|           LAS|                HOU|                515|           705|            110|       8|       713|           180|        NULL|    NULL|    1235|     1504|      8|             1015|        1512|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|          354|     N545UA|           SFO|                IAH|                600|           601|              1|      38|       639|           236|        NULL|    NULL|    1635|     1527|      5|             1156|        1532|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     EV|         6177|     N12924|           EWR|                IAD|                603|           600|             -3|      20|       620|            77|        NULL|    NULL|     212|      900|      6|              720|         906|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|         1094|     N8662F|           OAK|                HOU|                610|           612|              2|      15|       627|           230|        NULL|    NULL|    1642|     1411|      9|             1200|        1420|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1757|     N73278|           SJC|                IAH|                620|           629|              9|      13|       642|           235|        NULL|    NULL|    1608|     1511|     10|             1215|        1521|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|          737|     N437UA|           SNA|                IAH|                645|           649|              4|      22|       711|           202|        NULL|    NULL|    1346|     1409|     11|             1207|        1420|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         6196|     N767SK|           ONT|                IAH|                645|           640|             -5|      23|       703|           205|        NULL|    NULL|    1334|     1357|      8|             1210|        1405|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     B6|         1031|     N348JB|           BOS|                HOU|                704|           851|            107|      26|       917|           246|        NULL|    NULL|    1609|     1719|      4|             1010|        1723|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1125|     N57870|           LAX|                IAH|                724|           720|             -4|      17|       737|           204|        NULL|    NULL|    1379|     1455|     13|             1248|        1508|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         4847|     N781CA|           SBN|                MSP|                742|           733|             -9|      32|       805|            95|        NULL|    NULL|     411|      933|      4|              817|         937|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         4972|     N962SW|           ORD|                RAP|                845|           838|             -7|      15|       853|           142|        NULL|    NULL|     779|     1201|      5|             1007|        1206|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     NK|          832|     N634NK|           DEN|                IAH|                900|           857|             -3|      13|       910|           140|        NULL|    NULL|     862|     1518|     13|             1220|        1531|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         4564|     N430SW|           MSP|                MOT|                902|           919|             17|       1|       920|            93|        NULL|    NULL|     449|     1406|      5|             1035|        1411|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     OO|         4678|     N824SK|           MSP|                IAH|                916|           918|              2|      26|       944|           175|        NULL|    NULL|    1034|     1422|     10|             1211|        1432|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|          589|     N832UA|           ORD|                IAH|                927|           950|             23|      22|      1012|           164|        NULL|    NULL|     925|     1515|      8|             1211|        1523|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|         4097|     N653SW|           MCO|                HOU|                935|          1003|             28|       6|      1009|           140|        NULL|    NULL|     849|     1527|     24|             1055|        1551|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|          683|     N601WN|           STL|                HOU|                955|           951|             -4|      10|      1001|           120|        NULL|    NULL|     687|     1522|     19|             1155|        1541|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|         2795|     N8621A|           DEN|                HOU|               1000|           955|             -5|      10|      1005|           140|        NULL|    NULL|     883|     1513|     13|             1320|        1526|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|          684|     N904AW|           PHX|                LIH|               1015|          1031|             16|      26|      1057|           405|        NULL|    NULL|    2979|     2322|      5|             1400|        2327|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     WN|          900|     N555LV|           RDU|                HOU|               1020|          1020|              0|      10|      1030|           160|        NULL|    NULL|    1050|     1508|      9|             1200|        1517|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
only showing top 20 rows

+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|year|month|day|day_of_week|quarter|holiday_name|is_holiday|
+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
+----+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+

## Get Null counts for each column

In [31]:
flights_df.select([count(when(isnull(c), c)).alias(c) for c in data.columns]).show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|   0|    0|  0|          0|      0|            0|      14721|             0|                  0|                  0|         86153|          86153|   89047|     89047|             6|      105071|  105071|       0|    92513|  92513|                0|       92513|       105071|       0|        0|            5729195|         4755640|       4755640|      4755640|            4755640|      4755640|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

## Investigate some causes for nulls in each column

In [48]:
# List of columns with null values
null_columns = [col for col in flights_df.columns if flights_df.filter(f"{col} IS NULL").count() > 0]

# Iterate through columns to investigate null causes
for col in null_columns:
    print(f"Investigating nulls in column: {col}")
    # Count rows where column is null and cancelled == 1
    count = flights_df.where(f"`{col}` IS NULL AND cancelled = 1").count()
    print(f"Nulls in {col} where flight is cancelled: {count}\n")

Investigating nulls in column: tail_number

Nulls in tail_number where flight is cancelled: 14721

Investigating nulls in column: departure_time

Nulls in departure_time where flight is cancelled: 86153

Investigating nulls in column: departure_delay

Nulls in departure_delay where flight is cancelled: 86153

Investigating nulls in column: taxi_out

Nulls in taxi_out where flight is cancelled: 89047

Investigating nulls in column: wheels_off

Nulls in wheels_off where flight is cancelled: 89047

Investigating nulls in column: scheduled_time

Nulls in scheduled_time where flight is cancelled: 5

Investigating nulls in column: elapsed_time

Nulls in elapsed_time where flight is cancelled: 89884

Investigating nulls in column: air_time

Nulls in air_time where flight is cancelled: 89884

Investigating nulls in column: wheels_on

Nulls in wheels_on where flight is cancelled: 89884

Investigating nulls in column: taxi_in

Nulls in taxi_in where flight is cancelled: 89884

Investigating nulls in column: arrival_time

Nulls in arrival_time where flight is cancelled: 89884

Investigating nulls in column: arrival_delay

Nulls in arrival_delay where flight is cancelled: 89884

Investigating nulls in column: cancellation_reason

Nulls in cancellation_reason where flight is cancelled: 0

Investigating nulls in column: air_system_delay

Nulls in air_system_delay where flight is cancelled: 89884

Investigating nulls in column: security_delay

Nulls in security_delay where flight is cancelled: 89884

Investigating nulls in column: airline_delay

Nulls in airline_delay where flight is cancelled: 89884

Investigating nulls in column: late_aircraft_delay

Nulls in late_aircraft_delay where flight is cancelled: 89884

Investigating nulls in column: weather_delay

Nulls in weather_delay where flight is cancelled: 89884

#### Tail_number - all Nulls are from cancelled flights
Although, not all cancelled flights have Nulls in tail_number. Possibly some flights are cancelled before an aircraft is assigned to the flight.

In [40]:
flights_df.where('tail_number IS NULL AND cancelled = 1').count()

14721

In [44]:
flights_df.where('departure_time IS NULL and cancelled = 1').count()

86153

#### Scheduled_time - 6 Nulls, 5 out of 6 flight were cancelled, 1 flight was diverted
These flights took off, but did not arrive in destination.
Scheduled_time is the estimated time in air?

In [28]:
flights_df.where('scheduled_time IS NULL').show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|year|month|day|day_of_week|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    2|  1|          7|     NK|          416|     N627NK|           FLL|                IAG|               2215|          2206|             -9|      21|      2227|          NULL|        NULL|    NULL|    1176|     NULL|   NULL|              107|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    2| 10|          2|     NK|          416|     N632NK|           FLL|                IAG|               2215|          2206|             -9|      16|      2222|          NULL|        NULL|    NULL|    1176|     NULL|   NULL|              107|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    4| 20|          1|     NK|          174|     N630NK|           FLL|                LGA|               1602|          1857|            175|      24|      1921|          NULL|        NULL|    NULL|    1076|     NULL|   NULL|             1900|        NULL|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    4| 26|          7|     NK|          720|     N614NK|           DEN|                DFW|               2059|          2057|             -2|      13|      2110|          NULL|        NULL|    NULL|     641|     NULL|   NULL|             2350|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    5|  9|          6|     NK|          324|     N620NK|           MCO|                ACY|               2130|          2152|             22|      18|      2210|          NULL|        NULL|    NULL|     852|     NULL|   NULL|             2340|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    5| 10|          7|     NK|          368|     N534NK|           ORD|                BWI|                825|          1214|            229|      18|      1232|          NULL|        NULL|    NULL|     622|     NULL|   NULL|             1118|        NULL|         NULL|       0|        1|                  C|            NULL|          NULL|         NULL|               NULL|         NULL|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

In [63]:
# Identify primary keys. Unique identifier is date, airline, flight_number
flights_df = spark.table('airline.db.flights')
flights_df.filter(
    """
    date='2015-01-01' AND flight_number=7 AND airline='WN'
    """
).show()
flights_df.groupBy('date', 'flight_number', 'airline').count().sort('date', 'flight_number', 'airline').show(40)

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015-01-01|     WN|            7|     N670SW|           DAL|                HOU|                830|           844|             14|       8|       852|            65|          56|      46|     239|      938|      2|              935|         940|            5|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-01-01|     WN|            7|     N616SW|           HOU|                IND|               1010|          1026|             16|       7|      1033|           130|         116|     104|     861|     1317|      5|             1320|        1322|            2|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-01-01|     WN|            7|     N616SW|           IND|                ATL|               1345|          1355|             10|       7|      1402|            90|          82|      69|     432|     1511|      6|             1515|        1517|            2|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+

24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/28 04:33:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+----------+-------------+-------+-----+
|      date|flight_number|airline|count|
+----------+-------------+-------+-----+
|2015-01-01|            1|     AA|    1|
|2015-01-01|            1|     AS|    1|
|2015-01-01|            1|     B6|    1|
|2015-01-01|            1|     HA|    1|
|2015-01-01|            1|     VX|    1|
|2015-01-01|            2|     AA|    1|
|2015-01-01|            2|     AS|    1|
|2015-01-01|            2|     B6|    1|
|2015-01-01|            2|     HA|    1|
|2015-01-01|            2|     VX|    1|
|2015-01-01|            3|     AA|    1|
|2015-01-01|            3|     AS|    1|
|2015-01-01|            3|     B6|    1|
|2015-01-01|            3|     HA|    1|
|2015-01-01|            3|     UA|    1|
|2015-01-01|            4|     AA|    1|
|2015-01-01|            4|     AS|    1|
|2015-01-01|            4|     B6|    1|
|2015-01-01|            4|     HA|    1|
|2015-01-01|            5|     AA|    1|
|2015-01-01|            5|     AS|    1|
|2015-01-01|            5|     B6|    1|
|2015-01-01|            5|     WN|    2|
|2015-01-01|            6|     AA|    1|
|2015-01-01|            6|     AS|    1|
|2015-01-01|            6|     B6|    1|
|2015-01-01|            7|     AA|    1|
|2015-01-01|            7|     B6|    1|
|2015-01-01|            7|     DL|    1|
|2015-01-01|            7|     HA|    1|
|2015-01-01|            7|     WN|    3|
|2015-01-01|            8|     AA|    1|
|2015-01-01|            8|     AS|    1|
|2015-01-01|            8|     B6|    1|
|2015-01-01|            8|     HA|    1|
|2015-01-01|            9|     AA|    1|
|2015-01-01|            9|     HA|    1|
|2015-01-01|           10|     AA|    1|
|2015-01-01|           10|     HA|    1|
|2015-01-01|           10|     WN|    1|
+----------+-------------+-------+-----+
only showing top 40 rows

# Write to staging Iceberg Table

In [95]:
# Drop flights table
spark.sql('DROP TABLE airline.db.flights PURGE')

DataFrame[]

In [96]:
# Create flights table if not exists
flights_ddl = f"""
CREATE TABLE IF NOT EXISTS airline.db.flights (
    date DATE,
    airline STRING,
    flight_number INT,
    tail_number STRING,
    origin_airport STRING,
    destination_airport STRING,
    scheduled_departure INT,
    departure_time INT,
    departure_delay INT,
    taxi_out INT,
    wheels_off INT,
    scheduled_time INT,
    elapsed_time INT,
    air_time INT,
    distance INT,
    wheels_on INT,
    taxi_in INT,
    scheduled_arrival INT,
    arrival_time INT,
    arrival_delay INT,
    diverted INT,
    cancelled INT,
    cancellation_reason STRING,
    air_system_delay INT,
    security_delay INT,
    airline_delay INT,
    late_aircraft_delay INT,
    weather_delay INT,
    is_delayed INT
)
USING iceberg
PARTITIONED BY (month(date))
"""

spark.sql(flights_ddl)

DataFrame[]

### Basic write implementation

In [97]:
# Write flights data to table
flights_df \
    .writeTo('airline.db.flights') \
    .append()

### Idempotent write implementation

In [21]:
# IDEMPOTENT

# Create temp view
flights_df.createOrReplaceTempView('flights')

# Write flights data to table
flights_merge_ddl = """
MERGE INTO airline.db.flights t
USING (SELECT * FROM flights) s
    ON  t.date = s.date
    AND t.flight_number = s.flight_number
WHEN NOT MATCHED THEN INSERT *
"""

# Double checking
spark.sql('SELECT COUNT(*) FROM airline.db.flights').show()

# spark.sql(flights_merge_ddl)

# Double checking
spark.sql('SELECT COUNT(*) FROM airline.db.flights').show()

# Check snapshot history and manifests for changes
snapshots = spark.sql('SELECT * FROM airline.db.flights.snapshots').collect()
snapshots = [snap.asDict() for snap in snapshots]
import pprint as pp
pp.pp(snapshots)

+--------+
|count(1)|
+--------+
| 5819079|
+--------+

+--------+
|count(1)|
+--------+
| 5819079|
+--------+

[{'committed_at': datetime.datetime(2024, 12, 22, 4, 5, 47, 694000),
  'snapshot_id': 6483349522153703138,
  'parent_id': None,
  'operation': 'append',
  'manifest_list': 's3://warehouse/db/flights/metadata/snap-6483349522153703138-1-29cc0a41-9f91-41a9-a3a9-8594bcfec6ed.avro',
  'summary': {'spark.app.id': 'local-1734811599173',
              'changed-partition-count': '12',
              'added-data-files': '12',
              'total-equality-deletes': '0',
              'added-records': '5819079',
              'total-position-deletes': '0',
              'added-files-size': '130797157',
              'total-delete-files': '0',
              'total-files-size': '130797157',
              'total-records': '5819079',
              'total-data-files': '12'}},
 {'committed_at': datetime.datetime(2024, 12, 26, 17, 54, 23, 601000),
  'snapshot_id': 6628237988227580671,
  'parent_id': 6483349522153703138,
  'operation': 'append',
  'manifest_list': 's3://warehouse/db/flights/metadata/snap-6628237988227580671-1-cf48625f-9ac8-4401-aabe-b002a0d81fe4.avro',
  'summary': {'spark.app.id': 'local-1735235086376',
              'changed-partition-count': '0',
              'total-equality-deletes': '0',
              'total-position-deletes': '0',
              'total-delete-files': '0',
              'total-files-size': '130797157',
              'total-records': '5819079',
              'total-data-files': '12'}},
 {'committed_at': datetime.datetime(2024, 12, 26, 18, 34, 35, 188000),
  'snapshot_id': 6856719003846257350,
  'parent_id': 6628237988227580671,
  'operation': 'overwrite',
  'manifest_list': 's3://warehouse/db/flights/metadata/snap-6856719003846257350-1-7ed43b9f-a133-49e3-9789-1824f69efeb6.avro',
  'summary': {'added-data-files': '1',
              'total-equality-deletes': '0',
              'added-records': '463407',
              'deleted-data-files': '1',
              'deleted-records': '479230',
              'total-records': '5803256',
              'spark.app.id': 'local-1735235086376',
              'removed-files-size': '10826942',
              'changed-partition-count': '1',
              'total-position-deletes': '0',
              'added-files-size': '10509540',
              'total-delete-files': '0',
              'total-files-size': '130479755',
              'total-data-files': '12'}},
 {'committed_at': datetime.datetime(2024, 12, 26, 18, 35, 3, 524000),
  'snapshot_id': 8082429039734140213,
  'parent_id': 6856719003846257350,
  'operation': 'overwrite',
  'manifest_list': 's3://warehouse/db/flights/metadata/snap-8082429039734140213-1-c4821f75-3d47-42cd-9024-bec64096dcb8.avro',
  'summary': {'spark.app.id': 'local-1735235086376',
              'changed-partition-count': '0',
              'total-equality-deletes': '0',
              'total-position-deletes': '0',
              'total-delete-files': '0',
              'total-files-size': '130479755',
              'total-records': '5803256',
              'total-data-files': '12'}},
 {'committed_at': datetime.datetime(2024, 12, 28, 0, 37, 39, 893000),
  'snapshot_id': 668148544964107792,
  'parent_id': 8082429039734140213,
  'operation': 'append',
  'manifest_list': 's3://warehouse/db/flights/metadata/snap-668148544964107792-1-5c16f1ac-0028-4ac9-a0c8-375b60a0dd10.avro',
  'summary': {'spark.app.id': 'local-1735345799351',
              'changed-partition-count': '1',
              'added-data-files': '1',
              'total-equality-deletes': '0',
              'added-records': '15823',
              'total-position-deletes': '0',
              'added-files-size': '408913',
              'total-delete-files': '0',
              'total-files-size': '130888668',
              'total-records': '5819079',
              'total-data-files': '13'}}]

### WAP write implementation

In [39]:
# Verify table properties with pyiceberg
from pyiceberg.catalog import load_catalog
catalog = load_catalog(
    'airline',
    **{
        "uri": "http://rest:8181",
        "s3.endpoint": "http://minio:9000",
        "py-io-impl": "pyiceberg.io.pyarrow.PyArrowFileIO",
        "s3.access-key-id": "admin",
        "s3.secret-access-key": "password",
    }
)
table = catalog.load_table('db.flights')
print(table.properties)

{'owner': 'root', 'write.parquet.compression-codec': 'zstd'}

In [49]:
CATALOG_NAME = 'airline'
DATABASE_NAME = 'db'

# set table property
spark.sql(f'ALTER TABLE {CATALOG_NAME}.{DATABASE_NAME}.flights SET TBLPROPERTIES ("write.wap.enabled"="true")')
print(table.properties)


# Verify if an audit branch is created.
spark.sql(f"select * from {CATALOG_NAME}.{DATABASE_NAME}.flights.refs").show(truncate=False)

# Create audit branch
audit_branch = 'audit_branch_flights'
spark.sql(f'ALTER TABLE {CATALOG_NAME}.{DATABASE_NAME}.flights CREATE BRANCH {audit_branch}')

# Verify if an audit branch is created.
spark.sql(f"select * from {CATALOG_NAME}.{DATABASE_NAME}.flights.refs").show(truncate=False)

{'owner': 'root', 'write.parquet.compression-codec': 'zstd'}
+--------------------+------+-------------------+-----------------------+---------------------+----------------------+
|name                |type  |snapshot_id        |max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+--------------------+------+-------------------+-----------------------+---------------------+----------------------+
|main                |BRANCH|8777543075953159173|NULL                   |NULL                 |NULL                  |
|audit_branch_flights|BRANCH|8777543075953159173|NULL                   |NULL                 |NULL                  |
+--------------------+------+-------------------+-----------------------+---------------------+----------------------+

IllegalArgumentException: Ref audit_branch_flights already exists

In [41]:
# Set spark WAP branch in session config
spark.conf.set('spark.wap.branch', audit_branch)
spark.conf.get('spark.wap.branch')

'audit_branch_flights'

In [42]:
spark.sql("""
DELETE FROM airline.db.flights
WHERE date = "2015-12-01"
""")

spark.sql('SELECT COUNT(*) FROM airline.db.flights').show()

+--------+
|count(1)|
+--------+
| 5803256|
+--------+

In [47]:
spark.sql('SELECT * FROM airline.db.flights WHERE date = "2015-12-01"').show()
spark.sql('SELECT * FROM airline.db.flights VERSION AS OF "main" WHERE date = "2015-12-01"').show()

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015-12-01|     AS|            7|     N435AS|           JFK|                SEA|                715|           721|              6|      34|       755|           379|         355|     312|    2422|     1007|      9|             1034|        1016|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     WN|            7|     N527SW|           DAL|                HOU|                830|           839|              9|      16|       855|            65|          65|      45|     239|      940|      4|              935|         944|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|            7|     N6715C|           ATL|                MSP|                835|           839|              4|      19|       858|           160|         143|     119|     907|      957|      5|             1015|        1002|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|            7|     N374HA|           LAS|                HNL|                845|           840|             -5|      20|       900|           400|         395|     370|    2762|     1310|      5|             1325|        1315|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AA|            7|     N376AA|           DFW|                OGG|                905|           903|             -2|      21|       924|           509|         503|     476|    3711|     1320|      6|             1334|        1326|           -8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|            7|     N531JB|           FLL|                LAS|               1931|          1938|              7|      11|      1949|           325|         319|     300|    2173|     2149|      8|             2156|        2157|            1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|           29|     N370HA|           SEA|                OGG|               1000|          1009|              9|      12|      1021|           365|         402|     385|    2640|     1446|      5|             1405|        1451|           46|       0|        0|               NULL|               9|             0|           37|                  0|            0|         1|
|2015-12-01|     AA|           29|     N5DHAA|           MIA|                BOS|               1220|          1215|             -5|      14|      1229|           189|         176|     155|    1258|     1504|      7|             1529|        1511|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AS|           29|     N317AS|           ORD|                SEA|               1525|          1528|              3|      15|      1543|           279|         249|     228|    1721|     1731|      6|             1804|        1737|          -27|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     VX|           29|     N842VA|           JFK|                SFO|               1850|          1856|              6|      31|      1927|           400|         381|     347|    2586|     2214|      3|             2230|        2217|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|           29|     N974DL|           ATL|                DFW|               1905|          1917|             12|      15|      1932|           155|         142|     119|     731|     2031|      8|             2040|        2039|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AA|           54|     N3AJAA|           MCO|                ORD|               1351|          1348|             -3|      12|      1400|           183|         185|     149|    1005|     1529|     24|             1554|        1553|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|           54|     N993DL|           IAH|                ATL|               1815|          1811|             -4|      10|      1821|           125|         103|      83|     689|     2044|     10|             2120|        2054|          -26|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|           54|     N273JB|           PBI|                JFK|               1840|          1915|             35|      17|      1932|           158|         153|     130|    1028|     2142|      6|             2118|        2148|           30|       0|        0|               NULL|              30|             0|            0|                  0|            0|         1|
|2015-12-01|     AS|           75|     N318AS|           SEA|                JNU|               1110|          1251|            101|      18|      1309|           158|         143|     118|     909|     1407|      7|             1248|        1414|           86|       0|        0|               NULL|               0|             0|           86|                  0|            0|         1|
|2015-12-01|     B6|           76|     N193JB|           MSY|                JFK|               1013|          1026|             13|      11|      1037|           166|         156|     139|    1182|     1356|      6|             1359|        1402|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AS|           76|     N318AS|           JNU|                SEA|               1420|          1512|             52|      16|      1528|           140|         153|     126|     909|     1834|     11|             1740|        1845|           65|       0|        0|               NULL|              13|             0|            3|                 49|            0|         1|
|2015-12-01|     AA|          116|     N3CWAA|           TPA|                MIA|                830|           830|              0|      12|       842|            71|          70|      35|     204|      917|     23|              941|         940|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|          116|     N358JB|           JFK|                SYR|                920|           911|             -9|      42|       953|            72|          90|      45|     209|     1038|      3|             1032|        1041|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|          116|     N944DL|           BHM|                ATL|               1450|          1455|              5|      10|      1505|            60|          52|      28|     134|     1633|     14|             1650|        1647|           -3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015-12-01|     AS|            7|     N435AS|           JFK|                SEA|                715|           721|              6|      34|       755|           379|         355|     312|    2422|     1007|      9|             1034|        1016|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     WN|            7|     N527SW|           DAL|                HOU|                830|           839|              9|      16|       855|            65|          65|      45|     239|      940|      4|              935|         944|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|            7|     N6715C|           ATL|                MSP|                835|           839|              4|      19|       858|           160|         143|     119|     907|      957|      5|             1015|        1002|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|            7|     N374HA|           LAS|                HNL|                845|           840|             -5|      20|       900|           400|         395|     370|    2762|     1310|      5|             1325|        1315|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AA|            7|     N376AA|           DFW|                OGG|                905|           903|             -2|      21|       924|           509|         503|     476|    3711|     1320|      6|             1334|        1326|           -8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|            7|     N531JB|           FLL|                LAS|               1931|          1938|              7|      11|      1949|           325|         319|     300|    2173|     2149|      8|             2156|        2157|            1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|           29|     N370HA|           SEA|                OGG|               1000|          1009|              9|      12|      1021|           365|         402|     385|    2640|     1446|      5|             1405|        1451|           46|       0|        0|               NULL|               9|             0|           37|                  0|            0|         1|
|2015-12-01|     AA|           29|     N5DHAA|           MIA|                BOS|               1220|          1215|             -5|      14|      1229|           189|         176|     155|    1258|     1504|      7|             1529|        1511|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AS|           29|     N317AS|           ORD|                SEA|               1525|          1528|              3|      15|      1543|           279|         249|     228|    1721|     1731|      6|             1804|        1737|          -27|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     VX|           29|     N842VA|           JFK|                SFO|               1850|          1856|              6|      31|      1927|           400|         381|     347|    2586|     2214|      3|             2230|        2217|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|           29|     N974DL|           ATL|                DFW|               1905|          1917|             12|      15|      1932|           155|         142|     119|     731|     2031|      8|             2040|        2039|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AA|           54|     N3AJAA|           MCO|                ORD|               1351|          1348|             -3|      12|      1400|           183|         185|     149|    1005|     1529|     24|             1554|        1553|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|           54|     N993DL|           IAH|                ATL|               1815|          1811|             -4|      10|      1821|           125|         103|      83|     689|     2044|     10|             2120|        2054|          -26|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|           54|     N273JB|           PBI|                JFK|               1840|          1915|             35|      17|      1932|           158|         153|     130|    1028|     2142|      6|             2118|        2148|           30|       0|        0|               NULL|              30|             0|            0|                  0|            0|         1|
|2015-12-01|     AS|           75|     N318AS|           SEA|                JNU|               1110|          1251|            101|      18|      1309|           158|         143|     118|     909|     1407|      7|             1248|        1414|           86|       0|        0|               NULL|               0|             0|           86|                  0|            0|         1|
|2015-12-01|     B6|           76|     N193JB|           MSY|                JFK|               1013|          1026|             13|      11|      1037|           166|         156|     139|    1182|     1356|      6|             1359|        1402|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AS|           76|     N318AS|           JNU|                SEA|               1420|          1512|             52|      16|      1528|           140|         153|     126|     909|     1834|     11|             1740|        1845|           65|       0|        0|               NULL|              13|             0|            3|                 49|            0|         1|
|2015-12-01|     AA|          116|     N3CWAA|           TPA|                MIA|                830|           830|              0|      12|       842|            71|          70|      35|     204|      917|     23|              941|         940|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|          116|     N358JB|           JFK|                SYR|                920|           911|             -9|      42|       953|            72|          90|      45|     209|     1038|      3|             1032|        1041|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|          116|     N944DL|           BHM|                ATL|               1450|          1455|              5|      10|      1505|            60|          52|      28|     134|     1633|     14|             1650|        1647|           -3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

In [44]:
# Perform idempotent write
# Create temp view
flights_df = spark.sql('SELECT * FROM airline.db.flights VERSION AS OF "main"').filter(col('date') == '2015-12-01')
flights_df.explain()
print(flights_df.count())
flights_df.cache()
flights_df.createOrReplaceTempView('flights')

# TODO dedup input from source

# Write flights data to table
flights_merge_ddl = """
MERGE INTO airline.db.flights t
USING (SELECT * FROM flights) s
    ON  t.date = s.date
    AND t.airline = s.airline
    AND t.flight_number = s.flight_number
    AND t.scheduled_departure = s.scheduled_departure
WHEN NOT MATCHED THEN INSERT *
"""

spark.sql(flights_merge_ddl).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- InMemoryTableScan [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields]
      +- InMemoryRelation [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
            +- *(1) Filter (date#1826 = 2015-12-01)
               +- *(1) ColumnarToRow
                  +- BatchScan airline.db.flights[date#1826, airline#1827, flight_number#1828, tail_number#1829, origin_airport#1830, destination_airport#1831, scheduled_departure#1832, departure_time#1833, departure_delay#1834, taxi_out#1835, wheels_off#1836, scheduled_time#1837, elapsed_time#1838, air_time#1839, distance#1840, wheels_on#1841, taxi_in#1842, scheduled_arrival#1843, arrival_time#1844, arrival_delay#1845, diverted#1846, cancelled#1847, cancellation_reason#1848, air_system_delay#1849, ... 5 more fields] airline.db.flights (branch=main) [filters=date IS NOT NULL, date = 16770, groupedBy=] RuntimeFilters: []


15823

24/12/28 03:33:20 WARN CacheManager: Asked to cache already cached data.

== Physical Plan ==
CommandResult <empty>
   +- AppendData org.apache.spark.sql.execution.datasources.v2.DataSourceV2Strategy$$Lambda$5024/0x0000000841c6c040@7d0a3304, IcebergWrite(table=airline.db.flights, format=PARQUET)
      +- AdaptiveSparkPlan isFinalPlan=true
         +- == Final Plan ==
            AQEShuffleRead coalesced
            +- ShuffleQueryStage 3
               +- Exchange hashpartitioning(staticinvoke(class org.apache.iceberg.spark.functions.MonthsFunction$DateToMonthsFunction, IntegerType, invoke, date#11549, DateType, false, true, true), 200), REBALANCE_PARTITIONS_BY_COL, 402653184, [plan_id=1270]
                  +- *(4) SortMergeJoin [date#11549, flight_number#11551], [date#12806, flight_number#12808], LeftAnti
                     :- *(2) Sort [date#11549 ASC NULLS FIRST, flight_number#11551 ASC NULLS FIRST], false, 0
                     :  +- AQEShuffleRead coalesced
                     :     +- ShuffleQueryStage 2
                     :        +- Exchange hashpartitioning(date#11549, flight_number#11551, 200), ENSURE_REQUIREMENTS, [plan_id=1171]
                     :           +- TableCacheQueryStage 0
                     :              +- InMemoryTableScan [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields]
                     :                    +- InMemoryRelation [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
                     :                          +- *(1) Filter (date#1826 = 2015-12-01)
                     :                             +- *(1) ColumnarToRow
                     :                                +- BatchScan airline.db.flights[date#1826, airline#1827, flight_number#1828, tail_number#1829, origin_airport#1830, destination_airport#1831, scheduled_departure#1832, departure_time#1833, departure_delay#1834, taxi_out#1835, wheels_off#1836, scheduled_time#1837, elapsed_time#1838, air_time#1839, distance#1840, wheels_on#1841, taxi_in#1842, scheduled_arrival#1843, arrival_time#1844, arrival_delay#1845, diverted#1846, cancelled#1847, cancellation_reason#1848, air_system_delay#1849, ... 5 more fields] airline.db.flights (branch=main) [filters=date IS NOT NULL, date = 16770, groupedBy=] RuntimeFilters: []
                     +- *(3) Sort [date#12806 ASC NULLS FIRST, flight_number#12808 ASC NULLS FIRST], false, 0
                        +- AQEShuffleRead coalesced
                           +- ShuffleQueryStage 1
                              +- Exchange hashpartitioning(date#12806, flight_number#12808, 200), ENSURE_REQUIREMENTS, [plan_id=1180]
                                 +- *(1) Filter isnotnull(flight_number#12808)
                                    +- *(1) ColumnarToRow
                                       +- BatchScan airline.db.flights[date#12806, flight_number#12808] airline.db.flights (branch=audit_branch_flights) [filters=date IS NOT NULL, flight_number IS NOT NULL, groupedBy=] RuntimeFilters: []
         +- == Initial Plan ==
            Exchange hashpartitioning(staticinvoke(class org.apache.iceberg.spark.functions.MonthsFunction$DateToMonthsFunction, IntegerType, invoke, date#11549, DateType, false, true, true), 200), REBALANCE_PARTITIONS_BY_COL, 402653184, [plan_id=1148]
            +- SortMergeJoin [date#11549, flight_number#11551], [date#12806, flight_number#12808], LeftAnti
               :- Sort [date#11549 ASC NULLS FIRST, flight_number#11551 ASC NULLS FIRST], false, 0
               :  +- Exchange hashpartitioning(date#11549, flight_number#11551, 200), ENSURE_REQUIREMENTS, [plan_id=1143]
               :     +- InMemoryTableScan [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields]
               :           +- InMemoryRelation [date#11549, airline#11550, flight_number#11551, tail_number#11552, origin_airport#11553, destination_airport#11554, scheduled_departure#11555, departure_time#11556, departure_delay#11557, taxi_out#11558, wheels_off#11559, scheduled_time#11560, elapsed_time#11561, air_time#11562, distance#11563, wheels_on#11564, taxi_in#11565, scheduled_arrival#11566, arrival_time#11567, arrival_delay#11568, diverted#11569, cancelled#11570, cancellation_reason#11571, air_system_delay#11572, ... 5 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
               :                 +- *(1) Filter (date#1826 = 2015-12-01)
               :                    +- *(1) ColumnarToRow
               :                       +- BatchScan airline.db.flights[date#1826, airline#1827, flight_number#1828, tail_number#1829, origin_airport#1830, destination_airport#1831, scheduled_departure#1832, departure_time#1833, departure_delay#1834, taxi_out#1835, wheels_off#1836, scheduled_time#1837, elapsed_time#1838, air_time#1839, distance#1840, wheels_on#1841, taxi_in#1842, scheduled_arrival#1843, arrival_time#1844, arrival_delay#1845, diverted#1846, cancelled#1847, cancellation_reason#1848, air_system_delay#1849, ... 5 more fields] airline.db.flights (branch=main) [filters=date IS NOT NULL, date = 16770, groupedBy=] RuntimeFilters: []
               +- Sort [date#12806 ASC NULLS FIRST, flight_number#12808 ASC NULLS FIRST], false, 0
                  +- Exchange hashpartitioning(date#12806, flight_number#12808, 200), ENSURE_REQUIREMENTS, [plan_id=1144]
                     +- Filter isnotnull(flight_number#12808)
                        +- BatchScan airline.db.flights[date#12806, flight_number#12808] airline.db.flights (branch=audit_branch_flights) [filters=date IS NOT NULL, flight_number IS NOT NULL, groupedBy=] RuntimeFilters: []

In [ ]:
# Perform Data Quality checks

In [45]:
# If all checks pass, cherry-pick snapshot, ie. publish staging branch to main

# Get snapshot id
spark.sql('SELECT snapshot_id FROM airline.db.flights.refs WHERE name="audit_branch_flights"').show()

if True:
    spark.sql(f'CALL airline.system.fast_forward("db.flights", "main", "{audit_branch}")')
    # spark.sql('CALL airline.system.cherrypick_snapshot("db.flights", 668148544964107792)')

+-------------------+
|        snapshot_id|
+-------------------+
|8777543075953159173|
+-------------------+

In [36]:
# Cleanup
# Unset from SparkSession
spark.conf.unset('spark.wap.branch')

# unset from table properties so that create table ddl can be seen again on Athena.
spark.sql(f"ALTER TABLE airline.db.flights UNSET TBLPROPERTIES ('write.wap.enabled')")

# Drop audit branch
spark.sql(f"ALTER TABLE airline.db.flights DROP BRANCH {audit_branch}")

DataFrame[]

In [53]:
spark.sql('SELECT * FROM airline.db.flights.history').show()
spark.sql('SELECT * FROM airline.db.flights.snapshots').show(truncate=False)
spark.sql('SELECT * FROM airline.db.flights.refs').show()

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2024-12-22 04:05:...|6483349522153703138|               NULL|               true|
|2024-12-26 17:54:...|6628237988227580671|6483349522153703138|               true|
|2024-12-28 00:53:...|7078291234605864939|6628237988227580671|               true|
|2024-12-28 03:34:...|8777543075953159173|5764227798246680375|               true|
+--------------------+-------------------+-------------------+-------------------+

+-----------------------+-------------------+-------------------+---------+-------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                          |summary                                                                                                                                                                                                                                                                                                                                                                                                  |
+-----------------------+-------------------+-------------------+---------+-------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2024-12-22 04:05:47.694|6483349522153703138|NULL               |append   |s3://warehouse/db/flights/metadata/snap-6483349522153703138-1-29cc0a41-9f91-41a9-a3a9-8594bcfec6ed.avro|{spark.app.id -> local-1734811599173, added-data-files -> 12, added-records -> 5819079, added-files-size -> 130797157, changed-partition-count -> 12, total-records -> 5819079, total-files-size -> 130797157, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                |
|2024-12-26 17:54:23.601|6628237988227580671|6483349522153703138|append   |s3://warehouse/db/flights/metadata/snap-6628237988227580671-1-cf48625f-9ac8-4401-aabe-b002a0d81fe4.avro|{spark.app.id -> local-1735235086376, changed-partition-count -> 0, total-records -> 5819079, total-files-size -> 130797157, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                                                                                                  |
|2024-12-26 18:34:35.188|6856719003846257350|6628237988227580671|overwrite|s3://warehouse/db/flights/metadata/snap-6856719003846257350-1-7ed43b9f-a133-49e3-9789-1824f69efeb6.avro|{spark.app.id -> local-1735235086376, added-data-files -> 1, deleted-data-files -> 1, added-records -> 463407, deleted-records -> 479230, added-files-size -> 10509540, removed-files-size -> 10826942, changed-partition-count -> 1, total-records -> 5803256, total-files-size -> 130479755, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2024-12-26 18:35:03.524|8082429039734140213|6856719003846257350|overwrite|s3://warehouse/db/flights/metadata/snap-8082429039734140213-1-c4821f75-3d47-42cd-9024-bec64096dcb8.avro|{spark.app.id -> local-1735235086376, changed-partition-count -> 0, total-records -> 5803256, total-files-size -> 130479755, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                                                                                                  |
|2024-12-28 00:37:39.893|668148544964107792 |8082429039734140213|append   |s3://warehouse/db/flights/metadata/snap-668148544964107792-1-5c16f1ac-0028-4ac9-a0c8-375b60a0dd10.avro |{spark.app.id -> local-1735345799351, added-data-files -> 1, added-records -> 15823, added-files-size -> 408913, changed-partition-count -> 1, total-records -> 5819079, total-files-size -> 130888668, total-data-files -> 13, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                       |
|2024-12-28 00:53:54.095|7078291234605864939|6628237988227580671|append   |s3://warehouse/db/flights/metadata/snap-7078291234605864939-1-719e81bd-739b-4cf5-81fb-d602338137ee.avro|{source-snapshot-id -> 668148544964107792, added-data-files -> 1, added-records -> 15823, added-files-size -> 408913, changed-partition-count -> 1, total-records -> 5834902, total-files-size -> 131206070, total-data-files -> 13, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                  |
|2024-12-28 03:33:03.346|5764227798246680375|7078291234605864939|overwrite|s3://warehouse/db/flights/metadata/snap-5764227798246680375-1-dafaf3f3-d138-4ca8-b5ba-05dde209c6a5.avro|{spark.app.id -> local-1735345799351, added-data-files -> 1, deleted-data-files -> 2, added-records -> 463407, deleted-records -> 495053, added-files-size -> 10509540, removed-files-size -> 11235855, changed-partition-count -> 1, total-records -> 5803256, total-files-size -> 130479755, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2024-12-28 03:33:22.094|8777543075953159173|5764227798246680375|append   |s3://warehouse/db/flights/metadata/snap-8777543075953159173-1-32d5b5eb-9fbd-4ffc-adec-33cff22e6d3d.avro|{spark.app.id -> local-1735345799351, added-data-files -> 1, added-records -> 15823, added-files-size -> 408913, changed-partition-count -> 1, total-records -> 5819079, total-files-size -> 130888668, total-data-files -> 13, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                                       |
+-----------------------+-------------------+-------------------+---------+-------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

+--------------------+------+-------------------+-----------------------+---------------------+----------------------+
|                name|  type|        snapshot_id|max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+--------------------+------+-------------------+-----------------------+---------------------+----------------------+
|                main|BRANCH|8777543075953159173|                   NULL|                 NULL|                  NULL|
|audit_branch_flights|BRANCH|8777543075953159173|                   NULL|                 NULL|                  NULL|
+--------------------+------+-------------------+-----------------------+---------------------+----------------------+

In [38]:
spark.sql('SELECT * FROM airline.db.flights WHERE date="2015-12-01"').show()

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015-12-01|     AS|            7|     N435AS|           JFK|                SEA|                715|           721|              6|      34|       755|           379|         355|     312|    2422|     1007|      9|             1034|        1016|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     WN|            7|     N527SW|           DAL|                HOU|                830|           839|              9|      16|       855|            65|          65|      45|     239|      940|      4|              935|         944|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|            7|     N6715C|           ATL|                MSP|                835|           839|              4|      19|       858|           160|         143|     119|     907|      957|      5|             1015|        1002|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|            7|     N374HA|           LAS|                HNL|                845|           840|             -5|      20|       900|           400|         395|     370|    2762|     1310|      5|             1325|        1315|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AA|            7|     N376AA|           DFW|                OGG|                905|           903|             -2|      21|       924|           509|         503|     476|    3711|     1320|      6|             1334|        1326|           -8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|            7|     N531JB|           FLL|                LAS|               1931|          1938|              7|      11|      1949|           325|         319|     300|    2173|     2149|      8|             2156|        2157|            1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     HA|           29|     N370HA|           SEA|                OGG|               1000|          1009|              9|      12|      1021|           365|         402|     385|    2640|     1446|      5|             1405|        1451|           46|       0|        0|               NULL|               9|             0|           37|                  0|            0|         1|
|2015-12-01|     AA|           29|     N5DHAA|           MIA|                BOS|               1220|          1215|             -5|      14|      1229|           189|         176|     155|    1258|     1504|      7|             1529|        1511|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     AS|           29|     N317AS|           ORD|                SEA|               1525|          1528|              3|      15|      1543|           279|         249|     228|    1721|     1731|      6|             1804|        1737|          -27|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     VX|           29|     N842VA|           JFK|                SFO|               1850|          1856|              6|      31|      1927|           400|         381|     347|    2586|     2214|      3|             2230|        2217|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     DL|           29|     N974DL|           ATL|                DFW|               1905|          1917|             12|      15|      1932|           155|         142|     119|     731|     2031|      8|             2040|        2039|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AA|           54|     N3AJAA|           MCO|                ORD|               1351|          1348|             -3|      12|      1400|           183|         185|     149|    1005|     1529|     24|             1554|        1553|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|           54|     N993DL|           IAH|                ATL|               1815|          1811|             -4|      10|      1821|           125|         103|      83|     689|     2044|     10|             2120|        2054|          -26|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|           54|     N273JB|           PBI|                JFK|               1840|          1915|             35|      17|      1932|           158|         153|     130|    1028|     2142|      6|             2118|        2148|           30|       0|        0|               NULL|              30|             0|            0|                  0|            0|         1|
|2015-12-01|     AS|           75|     N318AS|           SEA|                JNU|               1110|          1251|            101|      18|      1309|           158|         143|     118|     909|     1407|      7|             1248|        1414|           86|       0|        0|               NULL|               0|             0|           86|                  0|            0|         1|
|2015-12-01|     B6|           76|     N193JB|           MSY|                JFK|               1013|          1026|             13|      11|      1037|           166|         156|     139|    1182|     1356|      6|             1359|        1402|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
|2015-12-01|     AS|           76|     N318AS|           JNU|                SEA|               1420|          1512|             52|      16|      1528|           140|         153|     126|     909|     1834|     11|             1740|        1845|           65|       0|        0|               NULL|              13|             0|            3|                 49|            0|         1|
|2015-12-01|     AA|          116|     N3CWAA|           TPA|                MIA|                830|           830|              0|      12|       842|            71|          70|      35|     204|      917|     23|              941|         940|           -1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     B6|          116|     N358JB|           JFK|                SYR|                920|           911|             -9|      42|       953|            72|          90|      45|     209|     1038|      3|             1032|        1041|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|
|2015-12-01|     DL|          116|     N944DL|           BHM|                ATL|               1450|          1455|              5|      10|      1505|            60|          52|      28|     134|     1633|     14|             1650|        1647|           -3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

In [ ]:
# # Create flights table if not exists
# spark.sql("""
# CREATE TABLE IF NOT EXISTS airline.db.flights (
#     year INT,
#     month INT,
#     day INT,
#     day_of_week INT,
#     airline STRING,
#     flight_number INT,
#     tail_number STRING,
#     origin_airport STRING,
#     destination_airport STRING,
#     scheduled_departure INT,
#     departure_time INT,
#     departure_delay INT,
#     taxi_out INT,
#     wheels_off INT,
#     scheduled_time INT,
#     elapsed_time INT,
#     air_time INT,
#     distance INT,
#     wheels_on INT,
#     taxi_in INT,
#     scheduled_arrival INT,
#     arrival_time INT,
#     arrival_delay INT,
#     diverted INT,
#     cancelled INT,
#     cancellation_reason STRING,
#     air_system_delay INT,
#     security_delay INT,
#     airline_delay INT,
#     late_aircraft_delay INT,
#     weather_delay INT
# )
# USING iceberg
# PARTITIONED BY (month)
# """)

In [24]:
# # Create database if not exists
# spark.sql('CREATE DATABASE IF NOT EXISTS db')

# print(spark.catalog.tableExists('airline.db.flights'))

# # Create flights table if not exists
# if not spark.catalog.tableExists('airline.db.flights'):
#     spark.catalog.createTable(
#         'airline.db.flights',
#         schema=flights_schema,
#         source='iceberg',
#         partitioning='month'
#     )

# spark.catalog.getTable('airline.db.flights')

False

Table(name='flights', catalog='airline', namespace=['db'], description=None, tableType='MANAGED', isTemporary=False)

#### Checking table metadata

In [99]:
spark.sql('DESCRIBE EXTENDED airline.db.flights').collect()

[Row(col_name='date', data_type='date', comment=None),
 Row(col_name='airline', data_type='string', comment=None),
 Row(col_name='flight_number', data_type='int', comment=None),
 Row(col_name='tail_number', data_type='string', comment=None),
 Row(col_name='origin_airport', data_type='string', comment=None),
 Row(col_name='destination_airport', data_type='string', comment=None),
 Row(col_name='scheduled_departure', data_type='int', comment=None),
 Row(col_name='departure_time', data_type='int', comment=None),
 Row(col_name='departure_delay', data_type='int', comment=None),
 Row(col_name='taxi_out', data_type='int', comment=None),
 Row(col_name='wheels_off', data_type='int', comment=None),
 Row(col_name='scheduled_time', data_type='int', comment=None),
 Row(col_name='elapsed_time', data_type='int', comment=None),
 Row(col_name='air_time', data_type='int', comment=None),
 Row(col_name='distance', data_type='int', comment=None),
 Row(col_name='wheels_on', data_type='int', comment=None),
 Row(col_name='taxi_in', data_type='int', comment=None),
 Row(col_name='scheduled_arrival', data_type='int', comment=None),
 Row(col_name='arrival_time', data_type='int', comment=None),
 Row(col_name='arrival_delay', data_type='int', comment=None),
 Row(col_name='diverted', data_type='int', comment=None),
 Row(col_name='cancelled', data_type='int', comment=None),
 Row(col_name='cancellation_reason', data_type='string', comment=None),
 Row(col_name='air_system_delay', data_type='int', comment=None),
 Row(col_name='security_delay', data_type='int', comment=None),
 Row(col_name='airline_delay', data_type='int', comment=None),
 Row(col_name='late_aircraft_delay', data_type='int', comment=None),
 Row(col_name='weather_delay', data_type='int', comment=None),
 Row(col_name='is_delayed', data_type='int', comment=None),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Part 0', data_type='months(date)', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Metadata Columns', data_type='', comment=''),
 Row(col_name='_spec_id', data_type='int', comment=''),
 Row(col_name='_partition', data_type='struct<date_month:int>', comment=''),
 Row(col_name='_file', data_type='string', comment=''),
 Row(col_name='_pos', data_type='bigint', comment=''),
 Row(col_name='_deleted', data_type='boolean', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Detailed Table Information', data_type='', comment=''),
 Row(col_name='Name', data_type='airline.db.flights', comment=''),
 Row(col_name='Type', data_type='MANAGED', comment=''),
 Row(col_name='Location', data_type='s3://warehouse/db/flights', comment=''),
 Row(col_name='Provider', data_type='iceberg', comment=''),
 Row(col_name='Owner', data_type='root', comment=''),
 Row(col_name='Table Properties', data_type='[current-snapshot-id=6483349522153703138,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd]', comment='')]

In [143]:
spark.sql('SHOW CREATE TABLE airline.db.flights').collect()

[Row(createtab_stmt="CREATE TABLE airline.db.flights (\n  year INT,\n  month INT,\n  day INT,\n  day_of_week INT,\n  airline STRING,\n  flight_number INT,\n  tail_number STRING,\n  origin_airport STRING,\n  destination_airport STRING,\n  scheduled_departure INT,\n  departure_time INT,\n  departure_delay INT,\n  taxi_out INT,\n  wheels_off INT,\n  scheduled_time INT,\n  elapsed_time INT,\n  air_time INT,\n  distance INT,\n  wheels_on INT,\n  taxi_in INT,\n  scheduled_arrival INT,\n  arrival_time INT,\n  arrival_delay INT,\n  diverted INT,\n  cancelled INT,\n  cancellation_reason STRING,\n  air_system_delay INT,\n  security_delay INT,\n  airline_delay INT,\n  late_aircraft_delay INT,\n  weather_delay INT)\nUSING iceberg\nPARTITIONED BY (month)\nLOCATION 's3://warehouse/db/flights'\nTBLPROPERTIES (\n  'current-snapshot-id' = '6887883028741510457',\n  'format' = 'iceberg/parquet',\n  'format-version' = '2',\n  'write.parquet.compression-codec' = 'zstd')\n")]

In [8]:
metrics = spark.sql('select readable_metrics from airline.db.flights.files').collect()

# Check lower and upper bounds on month to ensure partitioning by month is being performed correctly
for metric in metrics:
    temp = metric.asDict()['readable_metrics'].asDict()['month']
    print(temp)

KeyError: 'month'

In [100]:
%%sql
SELECT
    *
FROM airline.db.flights.partitions

24/12/22 04:07:19 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|           partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+---------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
| Row(date_month=550) |       0 |       467972 |          1 |                      10431197 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=551) |       0 |       479230 |          1 |                      10826942 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=540) |       0 |       469968 |          1 |                      10589549 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=541) |       0 |       429191 |          1 |                       9753720 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=544) |       0 |       496993 |          1 |                      11149328 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=545) |       0 |       503897 |          1 |                      11497726 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=542) |       0 |       504312 |          1 |                      11364375 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=543) |       0 |       485151 |          1 |                      10875997 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=548) |       0 |       464946 |          1 |                      10274254 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=549) |       0 |       486165 |          1 |                      10710799 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=546) |       0 |       520718 |          1 |                      11820679 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
| Row(date_month=547) |       0 |       510536 |          1 |                      11502591 |                            0 |                          0 |                            0 |                          0 | 2024-12-22 04:05:47.694000 |      6483349522153703138 |
+---------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

In [32]:
%%sql
SELECT
    *
FROM airline.db.flights.files

+---------+--------------------------------------------------------------------------------------------------------+-------------+---------+---------------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                              file_path | file_format | spec_id |     partition | record_count | file_size_in_bytes |                                                                                                                                                                                                                                                                                                                                                  column_sizes |                                                                                                                                                                                                                                                                                                                                                                value_counts |                                                                                                                                                                                                                                                                         null_value_counts | nan_value_counts |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         lower_bounds |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 readable_metrics |

In [101]:
%%sql
SELECT
    SUM(file_size_in_bytes)
FROM airline.db.flights.files

+-------------------------+
| sum(file_size_in_bytes) |
+-------------------------+
|               130797157 |
+-------------------------+

In [19]:
%%sql
SELECT 
    partition
FROM 
    airline.db.flights.files
WHERE 
    null_value_counts['7'] > 0
GROUP BY 
    partition

+---------------+
|     partition |
+---------------+
| Row(month=12) |
|  Row(month=1) |
|  Row(month=6) |
|  Row(month=3) |
|  Row(month=5) |
|  Row(month=9) |
|  Row(month=4) |
|  Row(month=8) |
|  Row(month=7) |
| Row(month=10) |
| Row(month=11) |
|  Row(month=2) |
+---------------+

# Perform Agg_fact_flights transfrom

In [3]:
# Read flights table
flights_df = spark.table('airline.db.flights')

# Join dim_date table to flights
flights_df = flights_df \
    .join(
        broadcast(date_df),
        ['date']
    )

flights_df.createOrReplaceTempView('flights')

flights_df.show()
# flights_df.explain()

24/12/26 17:45:42 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|      date|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|is_delayed|year|month|day|day_of_week|quarter|holiday_name|is_holiday|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
|2015-07-01|     NK|          298|     N624NK|           LAS|                IAH|                  3|            41|             38|      11|        52|           177|         179|     159|    1222|      531|      9|              500|         540|           40|       0|        0|               NULL|               2|             0|           38|                  0|            0|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         1965|     N507AY|           SFO|                CLT|                  5|          2400|             -5|      21|        21|           303|         306|     270|    2296|      751|     15|              808|         806|           -2|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     DL|         2020|      N3759|           LAX|                MEM|                  5|          2400|             -5|      36|        36|           223|         244|     206|    1619|      602|      2|              548|         604|           16|       0|        0|               NULL|              16|             0|            0|                  0|            0|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     NK|          612|     N629NK|           LAS|                MSP|                  5|            53|             48|      14|       107|           178|         179|     157|    1299|      544|      8|              503|         552|           49|       0|        0|               NULL|              35|             0|           14|                  0|            0|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1044|     N39418|           ANC|                ORD|                  8|            17|              9|      20|        37|           364|         358|     327|    2846|      904|     11|              912|         915|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|          260|     N3BHAA|           LAX|                MIA|                 10|             5|             -5|      33|        38|           312|         337|     292|    2342|      830|     12|              822|         842|           20|       0|        0|               NULL|              20|             0|            0|                  0|            0|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|          448|     N542UW|           SLC|                CLT|                 15|            22|              7|      13|        35|           234|         230|     204|    1727|      559|     13|              609|         612|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         2406|     N376AA|           LAX|                DFW|                 15|            35|             20|      28|       103|           181|         196|     163|    1235|      546|      5|              516|         551|           35|       0|        0|               NULL|              15|             0|           20|                  0|            0|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1928|     N18220|           SFO|                ORD|                 22|            43|             21|      15|        58|           256|         238|     218|    1846|      636|      5|              638|         641|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|          206|     N435UA|           PDX|                ORD|                 24|            17|             -7|       9|        26|           247|         205|     193|    1739|      539|      3|              631|         542|          -49|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         1230|     N3HXAA|           SEA|                DFW|                 25|            23|             -2|      12|        35|           233|         221|     194|    1660|      549|     15|              618|         604|          -14|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         1925|     N181UW|           SEA|                CLT|                 25|            36|             11|      11|        47|           297|         287|     267|    2279|      814|      9|              822|         823|            1|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         2051|     N570UW|           SFO|                PHL|                 25|            18|             -7|      14|        32|           320|         318|     300|    2521|      832|      4|              845|         836|           -9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     DL|         1435|     N805DN|           LAX|                MSP|                 25|            24|             -1|      29|        53|           212|         222|     187|    1535|      600|      6|              557|         606|            9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     DL|         2832|     N839DN|           ANC|                SLC|                 25|            22|             -3|      13|        35|           275|         264|     244|    2125|      639|      7|              700|         646|          -14|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1547|     N78438|           LAX|                ORD|                 25|            27|              2|      24|        51|           251|         243|     213|    1744|      624|      6|              636|         630|           -6|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     UA|         1949|     N14704|           SEA|                ORD|                 27|           316|            169|      12|       328|           238|         215|     194|    1721|      842|      9|              625|         851|          146|       0|        0|               NULL|               0|             0|          146|                  0|            0|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|          677|     N563UW|           LAS|                PHL|                 30|            33|              3|      12|        45|           284|         284|     255|    2176|      800|     17|              814|         817|            3|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         1|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         1797|     N767UW|           LAX|                BNA|                 30|            28|             -2|      24|        52|           250|         260|     230|    1797|      642|      6|              640|         648|            8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|         0|2015|    7|  1|          4|      3|        NULL|     false|
|2015-07-01|     AA|         1982|     N171US|           LAX|                CLT|                 30|            43|             13|      23|       106|           295|         306|     274|    2125|      840|      9|              825|         849|           24|       0|        0|               NULL|              11|             0|           13|                  0|            0|         1|2015|    7|  1|          4|      3|        NULL|     false|
+----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+----+-----+---+-----------+-------+------------+----------+
only showing top 20 rows

In [5]:
def agg_delay_metrics_rollup(
    input_df: DataFrame,
    non_time_columns: list[str],
    time_columns: list[str]
) -> DataFrame:

    # Concatenate both list of columns
    cube_columns = non_time_columns + time_columns

    # Calculate the aggregate values for the cube
    output_df = input_df \
        .rollup(*cube_columns) \
        .agg(
            count('*').alias('total_flights'),
            count(when(col('is_delayed') == True, 1)).alias('delayed_flights'),
            ( count(when(col('is_delayed') == True, 1)) / count('*') ).alias('delay_rate'),
            avg('departure_delay').alias('avg_delay_time')
        )

    # Calculate aggregation label to add as column
    time_agg_level = get_aggregation_level(time_columns)
    agg_level = get_aggregation_level(non_time_columns)

    # Add (time_)agg_level columns
    output_df = output_df \
        .withColumn('time_agg_level', time_agg_level) \
        .withColumn('agg_level', agg_level)
    
    return output_df

def get_aggregation_level(columns: list[str]):
    # TODO add comments
    
    # 
    # Returns col
    agg_level = concat_ws(
        '_',
        *[when(col(c).isNotNull(), lit(c)) for c in columns]
    )

    all_nulls = lit(True)
    for c in columns:
        all_nulls &= col(c).isNull()
    agg_level = when(all_nulls, 'all').otherwise(agg_level)
    
    return agg_level

# cols = ['month', 'day', 'airport']
# print(get_aggregation_level(cols))


# Full Outer Join cube by cancelled, times
# Dedup the "all" agg_levels
# agg_df.sort('time_agg_level', 'agg_level').show(100)

In [162]:
time_columns = ['year', 'month']
non_time_columns = ['airline', 'origin_airport']
temp_df = flights_df.sample(0.1)

agg_df = agg_delay_metrics_cube_by_cols(temp_df, time_columns, non_time_columns)
print(agg_df.count())
agg_df.filter(col('time_agg_level') == lit('year_month')).show(100)

39852

+----+-----+-------+--------------+-------------+---------------+--------------------+-------------------+--------------+--------------------+
|year|month|airline|origin_airport|total_flights|delayed_flights|          delay_rate|     avg_delay_time|time_agg_level|           agg_level|
+----+-----+-------+--------------+-------------+---------------+--------------------+-------------------+--------------+--------------------+
|2015|    7|     WN|           MCO|          369|            183|  0.4959349593495935| 18.489071038251367|    year_month|airline_origin_ai...|
|2015|    7|     WN|           SEA|          145|             79|  0.5448275862068965| 10.393103448275863|    year_month|airline_origin_ai...|
|2015|    7|     AA|           FLL|           89|             23| 0.25842696629213485| 2.8764044943820224|    year_month|airline_origin_ai...|
|2015|    7|     UA|           OGG|           26|             12| 0.46153846153846156| 2.4615384615384617|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           BHM|            4|              2|                 0.5|               7.75|    year_month|airline_origin_ai...|
|2015|    7|     EV|           COS|            3|              0|                 0.0|-2.6666666666666665|    year_month|airline_origin_ai...|
|2015|    7|     OO|           LAR|            3|              1|  0.3333333333333333|               -5.0|    year_month|airline_origin_ai...|
|2015|    7|     EV|           LAW|            3|              0|                 0.0| -8.333333333333334|    year_month|airline_origin_ai...|
|2015|    7|     AS|           BWI|            4|              0|                 0.0|             -10.25|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           FAT|           67|             24|  0.3582089552238806| 13.046153846153846|    year_month|      origin_airport|
|2015|    7|   NULL|           BIS|           22|              4| 0.18181818181818182| 1.7619047619047619|    year_month|      origin_airport|
|2015|    7|     B6|           BOS|          408|            150| 0.36764705882352944|  9.313580246913581|    year_month|airline_origin_ai...|
|2015|    7|     EV|           ELP|            7|              0|                 0.0| -9.714285714285714|    year_month|airline_origin_ai...|
|2015|    7|     EV|           ROC|           11|              1| 0.09090909090909091|                2.3|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           DCA|          689|            228|  0.3309143686502177|  8.701317715959004|    year_month|      origin_airport|
|2015|    7|     WN|           PVD|           47|             29|  0.6170212765957447|  20.80851063829787|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           DAY|            9|              3|  0.3333333333333333| 19.444444444444443|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           EAU|            9|              4|  0.4444444444444444|  10.11111111111111|    year_month|      origin_airport|
|2015|    7|   NULL|           OTZ|            1|              1|                 1.0|               52.0|    year_month|      origin_airport|
|2015|    7|   NULL|           MDT|           21|              4| 0.19047619047619047|               -3.1|    year_month|      origin_airport|
|2015|    7|   NULL|           SUX|            4|              1|                0.25|               9.75|    year_month|      origin_airport|
|2015|    7|     DL|           LGA|          211|             90|  0.4265402843601896| 16.792270531400966|    year_month|airline_origin_ai...|
|2015|    7|     OO|           GFK|            2|              1|                 0.5|                2.0|    year_month|airline_origin_ai...|
|2015|    7|     AS|           BET|           10|              4|                 0.4|                1.1|    year_month|airline_origin_ai...|
|2015|    7|     OO|           RKS|            2|              0|                 0.0|               -8.5|    year_month|airline_origin_ai...|
|2015|    7|     DL|          NULL|         8033|           2673|  0.3327523963649944|  8.053851907255048|    year_month|             airline|
|2015|    7|   NULL|           PIB|            3|              0|                 0.0| -6.333333333333333|    year_month|      origin_airport|
|2015|    7|     MQ|           LCH|            9|              5|  0.5555555555555556|  30.88888888888889|    year_month|airline_origin_ai...|
|2015|    7|     EV|           GTR|            7|              0|                 0.0|-3.7142857142857144|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           MSP|         1152|            360|              0.3125| 6.5426829268292686|    year_month|      origin_airport|
|2015|    7|   NULL|           EKO|            6|              1| 0.16666666666666666|               -4.0|    year_month|      origin_airport|
|2015|    7|     UA|           SNA|           52|             22|  0.4230769230769231|              11.26|    year_month|airline_origin_ai...|
|2015|    7|     HA|           KOA|           89|             26| 0.29213483146067415| -1.101123595505618|    year_month|airline_origin_ai...|
|2015|    7|     OO|           OMA|           18|              8|  0.4444444444444444|  3.888888888888889|    year_month|airline_origin_ai...|
|2015|    7|     UA|           MDT|            1|              1|                 1.0|                2.0|    year_month|airline_origin_ai...|
|2015|    7|     EV|           GJT|            3|              1|  0.3333333333333333|                3.0|    year_month|airline_origin_ai...|
|2015|    7|     DL|           CRW|            4|              1|                0.25|              -2.75|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           PLN|           13|              4|  0.3076923076923077|  21.46153846153846|    year_month|      origin_airport|
|2015|    7|   NULL|           SWF|            5|              2|                 0.4|                2.6|    year_month|      origin_airport|
|2015|    7|   NULL|           ERI|            5|              2|                 0.4|                5.4|    year_month|      origin_airport|
|2015|    7|     WN|           OKC|           53|             23|  0.4339622641509434|  7.211538461538462|    year_month|airline_origin_ai...|
|2015|    7|     OO|           DEN|          437|            191| 0.43707093821510296|  12.91304347826087|    year_month|airline_origin_ai...|
|2015|    7|     EV|           MSY|           11|              3|  0.2727272727272727| 10.818181818181818|    year_month|airline_origin_ai...|
|2015|    7|     AS|           ORD|           17|              4| 0.23529411764705882|-2.1176470588235294|    year_month|airline_origin_ai...|
|2015|    7|     EV|           IND|           29|             11|  0.3793103448275862| 24.576923076923077|    year_month|airline_origin_ai...|
|2015|    7|     NK|           ORD|           87|             58|  0.6666666666666666| 27.729411764705883|    year_month|airline_origin_ai...|
|2015|    7|     NK|           PBG|            4|              4|                 1.0|               20.5|    year_month|airline_origin_ai...|
|2015|    7|     EV|           PBI|            1|              1|                 1.0|               59.0|    year_month|airline_origin_ai...|
|2015|    7|     OO|           TWF|           12|              0|                 0.0|              -8.75|    year_month|airline_origin_ai...|
|2015|    7|     EV|           BTV|           23|              7| 0.30434782608695654| 2.3181818181818183|    year_month|airline_origin_ai...|
|2015|    7|     VX|           BOS|           28|             10| 0.35714285714285715|              10.25|    year_month|airline_origin_ai...|
|2015|    7|     EV|           PIA|           21|              8| 0.38095238095238093| 1.8571428571428572|    year_month|airline_origin_ai...|
|2015|    7|     EV|           IAH|          555|            136| 0.24504504504504504|  4.128623188405797|    year_month|airline_origin_ai...|
|2015|    7|     UA|           RSW|           11|              3|  0.2727272727272727| 10.181818181818182|    year_month|airline_origin_ai...|
|2015|    7|     DL|           SAV|           33|             14| 0.42424242424242425| 6.2727272727272725|    year_month|airline_origin_ai...|
|2015|    7|     OO|           SBP|           20|              6|                 0.3|                2.6|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           GSO|           10|              4|                 0.4|                3.8|    year_month|airline_origin_ai...|
|2015|    7|     WN|           ICT|           14|              6| 0.42857142857142855|  4.642857142857143|    year_month|airline_origin_ai...|
|2015|    7|     DL|           SYR|           13|              5| 0.38461538461538464|  8.538461538461538|    year_month|airline_origin_ai...|
|2015|    7|     NK|           TPA|           11|              4| 0.36363636363636365| 25.545454545454547|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           AVP|           15|              3|                 0.2| 16.133333333333333|    year_month|      origin_airport|
|2015|    7|     WN|           PHX|          553|            329|  0.5949367088607594| 16.519927536231883|    year_month|airline_origin_ai...|
|2015|    7|     DL|           MYR|           11|              2| 0.18181818181818182|-0.8181818181818182|    year_month|airline_origin_ai...|
|2015|    7|     DL|           BNA|           47|             14|  0.2978723404255319|  6.574468085106383|    year_month|airline_origin_ai...|
|2015|    7|     OO|           FNT|            7|              3| 0.42857142857142855|-0.8571428571428571|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           GRI|            3|              0|                 0.0| -4.666666666666667|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           ROC|           70|             23| 0.32857142857142857|  9.246376811594203|    year_month|      origin_airport|
|2015|    7|     WN|           DTW|           63|             29|  0.4603174603174603| 10.158730158730158|    year_month|airline_origin_ai...|
|2015|    7|     EV|           DSM|           16|              3|              0.1875|  4.066666666666666|    year_month|airline_origin_ai...|
|2015|    7|     EV|           ROA|           24|             14|  0.5833333333333334|              28.25|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           BIS|            6|              0|                 0.0| -4.833333333333333|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           CLE|          366|            129|  0.3524590163934426| 11.030640668523677|    year_month|      origin_airport|
|2015|    7|   NULL|           SMF|          375|            156|               0.416| 10.161290322580646|    year_month|      origin_airport|
|2015|    7|     OO|           DLH|           14|              5| 0.35714285714285715| 23.571428571428573|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           EVV|           40|              7|               0.175|-0.7692307692307693|    year_month|      origin_airport|
|2015|    7|   NULL|           BZN|           64|             21|            0.328125|           5.765625|    year_month|      origin_airport|
|2015|    7|     OO|           MSP|          259|             71| 0.27413127413127414|    5.2007722007722|    year_month|airline_origin_ai...|
|2015|    7|     OO|           RAP|           38|             12|  0.3157894736842105|  12.81578947368421|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           BRO|           23|              1|0.043478260869565216| -6.260869565217392|    year_month|      origin_airport|
|2015|    7|     DL|           SEA|          139|             61| 0.43884892086330934|  6.014388489208633|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           SAV|           10|              3|                 0.3|                2.9|    year_month|airline_origin_ai...|
|2015|    7|     AS|           DCA|           12|              3|                0.25|-3.8333333333333335|    year_month|airline_origin_ai...|
|2015|    7|     AS|           HNL|           22|              6|  0.2727272727272727|0.09523809523809523|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           LFT|           53|             11| 0.20754716981132076|0.46153846153846156|    year_month|      origin_airport|
|2015|    7|   NULL|           SJC|          432|            178| 0.41203703703703703|  13.34032634032634|    year_month|      origin_airport|
|2015|    7|   NULL|           RDU|          336|            127| 0.37797619047619047| 14.590361445783133|    year_month|      origin_airport|
|2015|    7|   NULL|           ACV|            9|              1|  0.1111111111111111|               -7.0|    year_month|      origin_airport|
|2015|    7|     UA|           LAS|           96|             37|  0.3854166666666667|             12.875|    year_month|airline_origin_ai...|
|2015|    7|     B6|           BDL|           22|              6|  0.2727272727272727|  9.590909090909092|    year_month|airline_origin_ai...|
|2015|    7|     B6|           TPA|           51|             24| 0.47058823529411764|  14.72549019607843|    year_month|airline_origin_ai...|
|2015|    7|     MQ|           LSE|            8|              0|                 0.0|             -6.875|    year_month|airline_origin_ai...|
|2015|    7|     AS|           SJC|           65|              7|  0.1076923076923077| 1.4153846153846155|    year_month|airline_origin_ai...|
|2015|    7|     F9|           DFW|           20|              6|                 0.3|               2.25|    year_month|airline_origin_ai...|
|2015|    7|   NULL|           HOB|            5|              1|                 0.2|              -4.25|    year_month|      origin_airport|
|2015|    7|   NULL|           ADQ|            6|              2|  0.3333333333333333|  4.166666666666667|    year_month|      origin_airport|
|2015|    7|     WN|           DAL|          514|            308|  0.5992217898832685|          12.984375|    year_month|airline_origin_ai...|
|2015|    7|     DL|           SAN|           59|             13| 0.22033898305084745| -0.288135593220339|    year_month|airline_origin_ai...|
|2015|    7|     EV|           SHV|           52|             11| 0.21153846153846154| 5.3076923076923075|    year_month|airline_origin_ai...|
|2015|    7|     AA|           DEN|           86|             26|  0.3023255813953488|  4.337209302325581|    year_month|airline_origin_ai...|
|2015|    7|     OO|           SFO|          314|             98| 0.31210191082802546|  7.761437908496732|    year_month|airline_origin_ai...|
+----+-----+-------+--------------+-------------+---------------+--------------------+-------------------+--------------+--------------------+
only showing top 100 rows

In [201]:
# Confirm redundant aggs for cube with cancelled and cancellation_reason
time_columns = ['year', 'month']
non_time_columns = ['airline', 'origin_airport', 'cancelled', 'cancellation_reason']
agg_df = agg_delay_metrics_cube_by_cols(temp_df, time_columns, non_time_columns)

# agg_df.filter(col('agg_level') == 'cancelled_cancellation_reason')).show(100)
agg_df \
    .filter(
        (col('year').isNull()) &
        (col('month').isNull()) &
        (col('airline').isNull()) &
        (col('origin_airport').isNull()) &
        (col('cancellation_reason') == lit('A'))
    ) \
    .show()

+----+-----+-------+--------------+---------+-------------------+-------------+---------------+-------------------+-----------------+--------------+--------------------+
|year|month|airline|origin_airport|cancelled|cancellation_reason|total_flights|delayed_flights|         delay_rate|   avg_delay_time|time_agg_level|           agg_level|
+----+-----+-------+--------------+---------+-------------------+-------------+---------------+-------------------+-----------------+--------------+--------------------+
|NULL| NULL|   NULL|          NULL|        1|                  A|         2375|             86|0.03621052631578947|66.87837837837837|           all|cancelled_cancell...|
|NULL| NULL|   NULL|          NULL|     NULL|                  A|         2375|             86|0.03621052631578947|66.87837837837837|           all| cancellation_reason|
+----+-----+-------+--------------+---------+-------------------+-------------+---------------+-------------------+-----------------+--------------+--------------------+

In [203]:
cols = ['cancellation_reason', 'year', 'month', 'day_of_week', 'airline']
flights_df.rollup(*cols) \
    .agg(
        count('*').alias('total_flights'),
        count(when(col('is_delayed') == True, 1)).alias('delayed_flights'),
        ( count(when(col('is_delayed') == True, 1)) / count('*') ).alias('delay_rate'),
        avg('departure_delay').alias('avg_delay_time')
    ) \
    .show()

+-------------------+----+-----+-------+-------------+---------------+--------------------+------------------+
|cancellation_reason|year|month|airline|total_flights|delayed_flights|          delay_rate|    avg_delay_time|
+-------------------+----+-----+-------+-------------+---------------+--------------------+------------------+
|                  A|NULL| NULL|   NULL|        25262|            991| 0.03922888132372734| 57.02896725440806|
|                  A|2015| NULL|   NULL|        25262|            991| 0.03922888132372734| 57.02896725440806|
|                  A|2015|    7|     F9|           29|              1|0.034482758620689655|-4.333333333333333|
|               NULL|NULL| NULL|   NULL|      5729195|        2123078|  0.3705717818995513| 9.338837306113685|
|               NULL|2015|    7|     DL|        80635|          27722|  0.3437961183109072| 8.267278477088112|
|                  C|2015|    7|     NK|           19|              2| 0.10526315789473684|              84.0|
|                  A|2015|    7|     DL|           42|              2|0.047619047619047616|              59.8|
|                  B|2015|    7|     DL|            4|              0|                 0.0|              -2.0|
|                  C|2015|    7|     MQ|          305|              9|0.029508196721311476| 42.92857142857143|
|               NULL|2015|    7|     AA|        80872|          29828| 0.36882975566327036| 9.703754080522307|
|                  A|2015|    7|     AS|           28|              1| 0.03571428571428571|               6.0|
|               NULL|2015|    7|     NK|        10220|           4917|  0.4811154598825832|16.355772994129158|
|                  A|2015|    7|     AA|          397|             25| 0.06297229219143577| 28.75609756097561|
|                  B|2015|    7|     AA|           66|              5| 0.07575757575757576| 62.44444444444444|
|                  A|2015|    7|     MQ|          245|             17| 0.06938775510204082| 37.73913043478261|
|               NULL|2015|    7|     EV|        49472|          15501| 0.31332875161707635| 9.025570019404915|
|               NULL|2015|    7|     HA|         6944|           1906|  0.2744815668202765|0.7106854838709677|
|               NULL|2015|    7|     MQ|        24116|           7822|  0.3243489799303367|  9.00850058052745|
|                  B|2015| NULL|   NULL|        48851|           1262|0.025833657448158687| 61.19929660023447|
|                  A|2015|    7|     VX|           17|              1|0.058823529411764705|             191.0|
+-------------------+----+-----+-------+-------------+---------------+--------------------+------------------+
only showing top 20 rows

In [7]:
cols = ['tail_number', 'year', 'month']
flights_df.rollup(*cols) \
    .agg(
        count('*').alias('total_flights'),
        count(when(col('is_delayed') == True, 1)).alias('delayed_flights'),
        ( count(when(col('is_delayed') == True, 1)) / count('*') ).alias('delay_rate'),
        avg('departure_delay').alias('avg_delay_time')
    ) \
    .filter(col('year').isNull()) \
    .show()

+-----------+----+-----+-------------+---------------+-------------------+-------------------+
|tail_number|year|month|total_flights|delayed_flights|         delay_rate|     avg_delay_time|
+-----------+----+-----+-------------+---------------+-------------------+-------------------+
|     N821DN|NULL| NULL|         1311|            488|0.37223493516399697|  6.160796324655436|
|     N997DL|NULL| NULL|         1495|            477|0.31906354515050167|  7.437121721587088|
|     N209WN|NULL| NULL|         1927|            849| 0.4405812143227815|   9.75614861329147|
|     N454AA|NULL| NULL|          914|            293|0.32056892778993434|  7.565759637188209|
|     N506CA|NULL| NULL|         2027|            453|0.22348297977306364| 3.3966118584952665|
|     N510UW|NULL| NULL|         1275|            483| 0.3788235294117647|  8.430588235294117|
|     N519UW|NULL| NULL|         1075|            413| 0.3841860465116279|  8.950697674418604|
|     N230WN|NULL| NULL|         1908|            820|  0.429769392033543|  9.832622601279319|
|     N721UW|NULL| NULL|         1368|            358|0.26169590643274854| 3.2814327485380117|
|     N11565|NULL| NULL|         1692|            511|0.30200945626477543|  7.071735131820969|
|     N737US|NULL| NULL|         1400|            397| 0.2835714285714286|               5.14|
|     N752AT|NULL| NULL|         1085|            404| 0.3723502304147465| 12.025806451612903|
|     N530NK|NULL| NULL|         1641|            672|0.40950639853747717| 15.596319018404907|
|     N993AT|NULL| NULL|         1665|            453|0.27207207207207207|  6.974096385542168|
|     N76523|NULL| NULL|          980|            522| 0.5326530612244897| 12.241836734693878|
|     N816AW|NULL| NULL|         1358|            350|0.25773195876288657|  4.763622974963181|
|     N579AS|NULL| NULL|         1073|            222|0.20689655172413793|-0.1942110177404295|
|     N436UA|NULL| NULL|         1059|            423|0.39943342776203966| 14.234404536862003|
|     N78866|NULL| NULL|          731|            441| 0.6032831737346102| 16.298221614227085|
|     N529UA|NULL| NULL|          878|            440| 0.5011389521640092| 18.886104783599087|
+-----------+----+-----+-------------+---------------+-------------------+-------------------+
only showing top 20 rows

In [16]:
cols = ['airline', 'year', 'month']
flights_df.rollup(*cols) \
    .agg(
        count('*').alias('total_flights'),
        count(when(col('is_delayed') == True, 1)).alias('delayed_flights'),
        ( count(when(col('is_delayed') == True, 1)) / count('*') ).alias('delay_rate'),
        avg('departure_delay').alias('avg_delay_time')
    ) \
    .filter(col('year').isNull()) \
    .show()

+-------+----+-----+-------------+---------------+-------------------+-------------------+
|airline|year|month|total_flights|delayed_flights|         delay_rate|     avg_delay_time|
+-------+----+-----+-------------+---------------+-------------------+-------------------+
|     F9|NULL| NULL|        90836|          34893| 0.3841318420009688| 13.350858345331709|
|   NULL|NULL| NULL|      5819079|        2125618| 0.3652842657747042|  9.370158275198389|
|     DL|NULL| NULL|       875881|         282463|0.32249015562616384|   7.36925417661782|
|     NK|NULL| NULL|       117379|          52089| 0.4437676245324973| 15.944765880783688|
|     AS|NULL| NULL|       172521|          43566|0.25252577947032534| 1.7858007096736666|
|     UA|NULL| NULL|       515723|         256550|0.49745696817865404| 14.435441010805953|
|     AA|NULL| NULL|       725984|         245904| 0.3387182086657557|  8.900856346719806|
|     WN|NULL| NULL|      1261855|         566807|0.44918552448577687| 10.581986295158847|
|     B6|NULL| NULL|       267048|         102061| 0.3821822294119409|   11.5143526744102|
|     EV|NULL| NULL|       571977|         169897| 0.2970346709745322|   8.71593449776958|
|     MQ|NULL| NULL|       294632|          93726| 0.3181120855847294| 10.125188203309524|
|     VX|NULL| NULL|        61903|          23379| 0.3776715183432144|  9.022595096521952|
|     HA|NULL| NULL|        76272|          20146| 0.2641336270190896|0.48571315965790407|
|     OO|NULL| NULL|       588353|         171572| 0.2916140480289894|  7.801103808415331|
|     US|NULL| NULL|       198715|          62565|0.31484789774299876|  6.141136917746696|
+-------+----+-----+-------------+---------------+-------------------+-------------------+

In [ ]:
# Individual rollups

# 1
time_columns = ['year', 'month', 'day_of_week']
non_time_columns = ['airline', 'origin_airport', 'cancelled', 'cancellation_reason']

agg_df = agg_delay_metrics_cube_by_cols(flights_df, time_columns, non_time_columns)


# 2

In [50]:
grouping_set_sql = """
SELECT
    airline,
    year,
    month,
    day_of_week,
    COUNT(*) AS total_flights,
    COUNT(CASE WHEN is_delayed = 1 THEN 1 END) AS delayed_flights,
    delayed_flights / total_flights AS delay_rate,
    AVG(departure_delay) AS avg_delay_time
FROM flights
GROUP BY
    GROUPING SETS (
        
            --airline,
            --day_of_week,
            --ROLLUP(year, month),
            --GROUPING SETS(airline, ROLLUP(year, month))
            CUBE(airline, (year, month), day_of_week)
        
    )
"""


temp_df = spark.sql(grouping_set_sql)

# temp_df.show()

print('==========================')
print('day_of_week and NULL month')
print('==========================')
temp_df.filter((col('day_of_week').isNotNull()) & (col('month').isNull())).show()
temp_df.filter((col('day_of_week').isNotNull()) & (col('airline').isNull())).show()

print('==========================')
print('day_of_week and NULL month')
print('==========================')
temp_df.filter((col('year').isNotNull()) & (col('month').isNull())).show()

==========================
day_of_week and NULL month
==========================
+-------+----+-----+-----------+-------------+---------------+-------------------+-------------------+
|airline|year|month|day_of_week|total_flights|delayed_flights|         delay_rate|     avg_delay_time|
+-------+----+-----+-----------+-------------+---------------+-------------------+-------------------+
|     NK|NULL| NULL|          7|        16844|           7631| 0.4530396580384707| 15.780295269659536|
|     HA|NULL| NULL|          1|        10867|           2846|0.26189380693843745|0.13823908638791674|
|     UA|NULL| NULL|          6|        77634|          39820|  0.512919597083752| 13.672101590266427|
|     F9|NULL| NULL|          6|        13242|           5157| 0.3894426823742637| 12.633724895793861|
|     WN|NULL| NULL|          6|       185731|          88275| 0.4752841475036477| 11.120365505549206|
|     UA|NULL| NULL|          5|        79126|          40928| 0.5172509668124258|  14.88742760925581|
|     AA|NULL| NULL|          6|       106374|          37095| 0.3487224321732754|   9.60408555681418|
|     NK|NULL| NULL|          1|        16844|           7707|0.45755165043932555| 17.149202320522118|
|     DL|NULL| NULL|          5|       132064|          46845| 0.3547143809062273|    8.7125635627038|
|     DL|NULL| NULL|          4|       129943|          40119|   0.30874306426664|  6.981080704794023|
|     HA|NULL| NULL|          3|        10516|           2215| 0.2106314187904146| -1.554867003527505|
|     F9|NULL| NULL|          4|        13015|           5049| 0.3879369957741068| 13.261489821098088|
|     VX|NULL| NULL|          3|         8990|           3139| 0.3491657397107898|  7.467288669064748|
|     OO|NULL| NULL|          5|        87902|          25670| 0.2920297604150076|   7.61177543341259|
|     WN|NULL| NULL|          4|       188243|          82835|0.44004292324282973|   9.78938119676492|
|     EV|NULL| NULL|          5|        87126|          26413| 0.3031586438032275|  9.336234074458915|
|     MQ|NULL| NULL|          3|        42970|          13262| 0.3086339306492902|  9.003149911560175|
|     AS|NULL| NULL|          4|        24395|           5752| 0.2357860217257635|  0.709695973705834|
|     HA|NULL| NULL|          7|        10559|           2742| 0.2596836821668719| 0.2502371466514893|
|     OO|NULL| NULL|          4|        86211|          25028|  0.290310981197295|  7.605123633463145|
+-------+----+-----+-----------+-------------+---------------+-------------------+-------------------+
only showing top 20 rows

+-------+----+-----+-----------+-------------+---------------+-------------------+------------------+
|airline|year|month|day_of_week|total_flights|delayed_flights|         delay_rate|    avg_delay_time|
+-------+----+-----+-----------+-------------+---------------+-------------------+------------------+
|   NULL|2015|    7|          1|        66985|          25040|0.37381503321639176| 8.651423511578695|
|   NULL|2015|    7|          2|        69630|          28049|0.40282924026999856|12.072476184944238|
|   NULL|NULL| NULL|          3|       844600|         295772|0.35019180677243666| 9.164522265904088|
|   NULL|NULL| NULL|          2|       865543|         323709|  0.373995283885376|10.871775063646947|
|   NULL|2015|    7|          6|        84523|          32225| 0.3812571726039066| 9.197035714285715|
|   NULL|NULL| NULL|          4|       855897|         303044| 0.3540659682181384| 8.645276690756555|
|   NULL|NULL| NULL|          5|       872521|         334387| 0.3832423517600149| 9.956913497060805|
|   NULL|NULL| NULL|          1|       817764|         301640| 0.3688594753498564| 9.402855627605891|
|   NULL|2015|    7|          4|        86135|          37575| 0.4362338190050502|14.185086629310952|
|   NULL|NULL| NULL|          6|       862209|         328846| 0.3813994054805737| 9.429767977851792|
|   NULL|2015|    7|          5|        87142|          36648|0.42055495627825845| 12.07881756287342|
|   NULL|2015|    7|          7|        57316|          20645|0.36019610579942773| 9.665665190807506|
|   NULL|NULL| NULL|          7|       700545|         238220|  0.340049532863699| 7.827415699173568|
|   NULL|2015|    7|          3|        68987|          29437| 0.4267035818342586|13.185219433436078|
|   NULL|2015|    8|          1|        81679|          30767| 0.3766818888576011| 9.125753819971143|
|   NULL|2015|    8|          2|        85615|          31207|0.36450388366524555|10.641389085754783|
|   NULL|2015|    8|          7|        70989|          25588|0.36045021059600785| 9.460440358093395|
|   NULL|2015|    8|          6|        68725|          25425| 0.3699527100763914| 8.799435482691548|
|   NULL|2015|    8|          4|        67675|          23932|0.35363132619135573|  7.75704330216213|
|   NULL|2015|    8|          3|        67266|          26850|0.39916153777539914|11.428560698243874|
+-------+----+-----+-----------+-------------+---------------+-------------------+------------------+
only showing top 20 rows

==========================
day_of_week and NULL month
==========================
+-------+----+-----+-----------+-------------+---------------+----------+--------------+
|airline|year|month|day_of_week|total_flights|delayed_flights|delay_rate|avg_delay_time|
+-------+----+-----+-----------+-------------+---------------+----------+--------------+
+-------+----+-----+-----------+-------------+---------------+----------+--------------+

In [207]:
# Count number of rows in full cube (combinatorial explosion)
time_columns = ['year', 'month', 'day_of_week']
non_time_columns = ['airline', 'origin_airport', 'cancelled', 'cancellation_reason']

agg_df = agg_delay_metrics_cube_by_cols(flights_df, time_columns, non_time_columns)

agg_df.count()

24/12/23 04:54:25 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:30 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:35 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:44 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:48 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:54:57 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:55:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/23 04:55:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

1814436

In [211]:
# Given columns
# columns = [
#     "year", "month", "day_of_week", "airline", "origin_airport", "tail_number",
#     "cancelled", "cancellation_reason"
# ]

columns = [
    "year", "airline", "origin_airport", "tail_number", "cancelled", "cancellation_reason"
]

# Generate all non-empty combinations
all_combinations = []
for r in range(1, len(columns) + 1):  # r ranges from 1 to len(columns)
    all_combinations.extend(itertools.combinations(columns, r))

# Print all combinations
for combination in all_combinations:
    print(combination)

('year',)
('airline',)
('origin_airport',)
('tail_number',)
('cancelled',)
('cancellation_reason',)
('year', 'airline')
('year', 'origin_airport')
('year', 'tail_number')
('year', 'cancelled')
('year', 'cancellation_reason')
('airline', 'origin_airport')
('airline', 'tail_number')
('airline', 'cancelled')
('airline', 'cancellation_reason')
('origin_airport', 'tail_number')
('origin_airport', 'cancelled')
('origin_airport', 'cancellation_reason')
('tail_number', 'cancelled')
('tail_number', 'cancellation_reason')
('cancelled', 'cancellation_reason')
('year', 'airline', 'origin_airport')
('year', 'airline', 'tail_number')
('year', 'airline', 'cancelled')
('year', 'airline', 'cancellation_reason')
('year', 'origin_airport', 'tail_number')
('year', 'origin_airport', 'cancelled')
('year', 'origin_airport', 'cancellation_reason')
('year', 'tail_number', 'cancelled')
('year', 'tail_number', 'cancellation_reason')
('year', 'cancelled', 'cancellation_reason')
('airline', 'origin_airport', 'tail_number')
('airline', 'origin_airport', 'cancelled')
('airline', 'origin_airport', 'cancellation_reason')
('airline', 'tail_number', 'cancelled')
('airline', 'tail_number', 'cancellation_reason')
('airline', 'cancelled', 'cancellation_reason')
('origin_airport', 'tail_number', 'cancelled')
('origin_airport', 'tail_number', 'cancellation_reason')
('origin_airport', 'cancelled', 'cancellation_reason')
('tail_number', 'cancelled', 'cancellation_reason')
('year', 'airline', 'origin_airport', 'tail_number')
('year', 'airline', 'origin_airport', 'cancelled')
('year', 'airline', 'origin_airport', 'cancellation_reason')
('year', 'airline', 'tail_number', 'cancelled')
('year', 'airline', 'tail_number', 'cancellation_reason')
('year', 'airline', 'cancelled', 'cancellation_reason')
('year', 'origin_airport', 'tail_number', 'cancelled')
('year', 'origin_airport', 'tail_number', 'cancellation_reason')
('year', 'origin_airport', 'cancelled', 'cancellation_reason')
('year', 'tail_number', 'cancelled', 'cancellation_reason')
('airline', 'origin_airport', 'tail_number', 'cancelled')
('airline', 'origin_airport', 'tail_number', 'cancellation_reason')
('airline', 'origin_airport', 'cancelled', 'cancellation_reason')
('airline', 'tail_number', 'cancelled', 'cancellation_reason')
('origin_airport', 'tail_number', 'cancelled', 'cancellation_reason')
('year', 'airline', 'origin_airport', 'tail_number', 'cancelled')
('year', 'airline', 'origin_airport', 'tail_number', 'cancellation_reason')
('year', 'airline', 'origin_airport', 'cancelled', 'cancellation_reason')
('year', 'airline', 'tail_number', 'cancelled', 'cancellation_reason')
('year', 'origin_airport', 'tail_number', 'cancelled', 'cancellation_reason')
('airline', 'origin_airport', 'tail_number', 'cancelled', 'cancellation_reason')
('year', 'airline', 'origin_airport', 'tail_number', 'cancelled', 'cancellation_reason')

### Lets manually code the following:
1. % delay rate of all flights
2. flight volume by month, day of week, month_airline, etc.

In [110]:
# 1. % delay rate of all flights
flights_df \
    .groupBy('airline') \
    .agg(
        count('*').alias('total_flights'),
        count(when(col('is_delayed') == True, 1)).alias('delayed_flights'),
        ( count(when(col('is_delayed') == True, 1)) / count('*') ).alias('delay_rate')
    ) \
    .show()

+-------+-------------+---------------+-------------------+
|airline|total_flights|delayed_flights|         delay_rate|
+-------+-------------+---------------+-------------------+
|     UA|       515723|         256550|0.49745696817865404|
|     NK|       117379|          52089| 0.4437676245324973|
|     AA|       725984|         245904| 0.3387182086657557|
|     EV|       571977|         169897| 0.2970346709745322|
|     B6|       267048|         102061| 0.3821822294119409|
|     DL|       875881|         282463|0.32249015562616384|
|     OO|       588353|         171572| 0.2916140480289894|
|     F9|        90836|          34893| 0.3841318420009688|
|     MQ|       294632|          93726| 0.3181120855847294|
|     HA|        76272|          20146| 0.2641336270190896|
|     AS|       172521|          43566|0.25252577947032534|
|     VX|        61903|          23379| 0.3776715183432144|
|     WN|      1261855|         566807|0.44918552448577687|
|     US|       198715|          62565|0.31484789774299876|
+-------+-------------+---------------+-------------------+

In [113]:
# 2. flight volume
flights_df \
    .cube('month', 'airline') \
    .agg(
        count('*').alias('total_flights')
    ).show()

+-----+-------+-------------+
|month|airline|total_flights|
+-----+-------+-------------+
| NULL|     B6|       267048|
| NULL|     NK|       117379|
|    7|     HA|         6955|
|    7|     F9|         8090|
| NULL|     HA|        76272|
|    7|     VX|         5411|
| NULL|     VX|        61903|
|    7|     NK|        10351|
|    7|     B6|        24029|
|    7|     MQ|        24750|
|    7|     AA|        81434|
|    7|   NULL|       520718|
|    7|     OO|        52627|
| NULL|     DL|       875881|
| NULL|   NULL|      5819079|
| NULL|     WN|      1261855|
|    7|     WN|       113650|
| NULL|     F9|        90836|
| NULL|     OO|       588353|
| NULL|     MQ|       294632|
+-----+-------+-------------+
only showing top 20 rows

In [82]:
flights_df.filter(col('departure_delay') > 0).groupBy('airline').agg(count('*')).show()

+-------+--------+
|airline|count(1)|
+-------+--------+
|     UA|  256550|
|     NK|   52089|
|     AA|  245904|
|     EV|  169897|
|     B6|  102061|
|     DL|  282463|
|     OO|  171572|
|     F9|   34893|
|     MQ|   93726|
|     HA|   20146|
|     AS|   43566|
|     VX|   23379|
|     WN|  566807|
|     US|   62565|
+-------+--------+