In [1]:
## Optional
# Format output of Jupyter Notebook
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

# Hide python warnings
import warnings
warnings.filterwarnings('ignore')

In [130]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from pyspark.sql.functions import lit, isnull, when, count, col, regexp_extract, concat_ws, to_date, expr, quarter, when, date_add, year, month, day, dayofweek

# TODO - parameterize endpoints/ports such as minio:9000 with envs

# Define config for SparkSession,
# such as Iceberg catalog that utilizes minio, an S3-compatible local object storage
spark_configs = {
    'spark.master': 'spark://spark-iceberg:7077',
    'spark.sql.catalog.airline': 'org.apache.iceberg.spark.SparkCatalog',
    # 'spark.sql.catalog.airline': 'org.apache.iceberg.spark.SparkSessionCatalog',
    'spark.sql.catalog.airline.io-impl': 'org.apache.iceberg.aws.s3.S3FileIO',
    'spark.sql.catalog.airline.s3.endpoint': 'http://minio:9000',
    'spark.sql.catalog.airline.type': 'rest',
    'spark.sql.catalog.airline.uri': 'http://rest:8181',
    'spark.sql.catalog.airline.warehouse': 's3://warehouse',
    'spark.sql.defaultCatalog': 'airline'
}

# Initialize SparkSession
spark = (
    SparkSession
    .builder
    .appName('EDA')
    .config(map=spark_configs)
    .getOrCreate()
)

In [7]:
import pprint as pp

# print(spark.sparkContext.uiWebUrl)

print(spark.conf.get('spark.app.id'))
print(spark.conf.get('spark.app.name'))
print(spark.conf.get('spark.app.startTime'))
print(spark.conf.get('spark.master'))
print()
print(spark.conf.get('spark.sql.catalog.airline'))
print(spark.conf.get('spark.sql.catalog.airline.io-impl'))
print(spark.conf.get('spark.sql.catalog.airline.s3.endpoint'))
print(spark.conf.get('spark.sql.catalog.airline.type'))
print(spark.conf.get('spark.sql.catalog.airline.uri'))
print(spark.conf.get('spark.sql.catalog.airline.warehouse'))
print()

                     
# pp.pp(dict(sc.getConf().getAll()), sort_dicts=True, )

local-1734722159949
EDA
1734722158776
spark://spark-iceberg:7077

org.apache.iceberg.spark.SparkCatalog
org.apache.iceberg.aws.s3.S3FileIO
http://minio:9000
rest
http://rest:8181
s3://warehouse

# Ingest raw csv data

In [37]:
# Check for alphabetic characters in flight_number, this is useless...
raw_data = spark.read.option('header', True).csv(filename)
raw_data.where(regexp_extract('flight_number', '^\d+$', 0) == '').show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

In [5]:
# Ingest flights data

# TODO: Fix nullables column, cant set column as Not-Nullable for some reason...

# Define schema
flights_schema = StructType([
    StructField("year", IntegerType(), False),   # Non-Nullable
    StructField("month", IntegerType(), False),  # Non-Nullable
    StructField("day", IntegerType(), False),    # Non-Nullable
    StructField("day_of_week", IntegerType(), False),    # Non-Nullable
    StructField("airline", StringType(), False),         # Non-Nullable
    StructField("flight_number", IntegerType(), False),  # Non-Nullable
    StructField("tail_number", StringType(), True),
    StructField("origin_airport", StringType(), False),  # Non-Nullable
    StructField("destination_airport", StringType(), False),   # Non-Nullable
    StructField("scheduled_departure", IntegerType(), False),  # Non-Nullable
    StructField("departure_time", IntegerType(), True),
    StructField("departure_delay", IntegerType(), True),
    StructField("taxi_out", IntegerType(), True),
    StructField("wheels_off", IntegerType(), True),
    StructField("scheduled_time", IntegerType(), True),
    StructField("elapsed_time", IntegerType(), True),
    StructField("air_time", IntegerType(), True),
    StructField("distance", IntegerType(), False),  # Non-Nullable
    StructField("wheels_on", IntegerType(), True),
    StructField("taxi_in", IntegerType(), True),
    StructField("scheduled_arrival", IntegerType(), False),  # Non-Nullable
    StructField("arrival_time", IntegerType(), True),
    StructField("arrival_delay", IntegerType(), True),
    StructField("diverted", IntegerType(), False),   # Non-Nullable
    StructField("cancelled", IntegerType(), False),  # Non-Nullable
    StructField("cancellation_reason", StringType(), True),
    StructField("air_system_delay", IntegerType(), True),
    StructField("security_delay", IntegerType(), True),
    StructField("airline_delay", IntegerType(), True),
    StructField("late_aircraft_delay", IntegerType(), True),
    StructField("weather_delay", IntegerType(), True)
])


# Read flights.csv
filename = '/home/iceberg/data/flights.csv'
flights_df = spark.read.schema(flights_schema).csv(
    '/home/iceberg/data/flights.csv',
    schema=flights_schema,
    enforceSchema=True,
    header = True
)
flights_df = flights_df.sort(['year', 'month', 'day', 'scheduled_departure'])
flights_df.cache()

flights_df.show()
# flights_df.printSchema()
flights_df.explain()

24/12/21 05:10:27 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|year|month|day|day_of_week|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|                  5|          2354|            -11|      21|        15|           205|         194|     169|    1448|      404|      4|              430|         408|          -22|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|             2|             -8|      12|        14|           280|         279|     263|    2330|      737|      4|              750|         741|           -9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|                 20|            18|             -2|      16|        34|           286|         293|     266|    2296|      800|     11|              806|         811|            5|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|            15|             -5|      15|        30|           285|         281|     258|    2342|      748|      8|              805|         756|           -9|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|                 25|            24|             -1|      11|        35|           235|         215|     199|    1448|      254|      5|              320|         259|          -21|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|                 25|            20|             -5|      18|        38|           217|         230|     206|    1589|      604|      6|              602|         610|            8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|                 25|            19|             -6|      11|        30|           181|         170|     154|    1299|      504|      5|              526|         509|          -17|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|                 30|            44|             14|      13|        57|           273|         249|     228|    2125|      745|      8|              803|         753|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|                 30|            19|            -11|      17|        36|           195|         193|     173|    1464|      529|      3|              545|         532|          -13|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|                 30|            33|              3|      12|        45|           221|         203|     186|    1747|      651|      5|              711|         656|          -15|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|                 30|            24|             -6|      12|        36|           173|         149|     133|    1199|      449|      4|              523|         453|          -30|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|                 35|            27|             -8|      21|        48|           268|         266|     238|    2174|      746|      7|              803|         753|          -10|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|                 35|            35|              0|      18|        53|           214|         210|     188|    1535|      601|      4|              609|         605|           -4|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|                 40|            34|             -6|      18|        52|           215|         199|     176|    1590|      548|      5|              615|         553|          -22|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|                 40|            39|             -1|      28|       107|           189|         198|     166|    1399|      553|      4|              549|         557|            8|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|                 45|            41|             -4|      17|        58|           204|         194|     173|    1448|      451|      4|              509|         455|          -14|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|                 45|            31|            -14|      25|        56|           210|         200|     171|    1448|      447|      4|              515|         451|          -24|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|                 48|            42|             -6|      11|        53|           218|         217|     199|    1635|      612|      7|              626|         619|           -7|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|                 50|            46|             -4|      11|        57|           215|         201|     187|    1542|      504|      3|              525|         507|          -18|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|                 50|            45|             -5|       9|        54|           193|         186|     171|    1426|      545|      6|              603|         551|          -12|       0|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- InMemoryTableScan [year#0, month#1, day#2, day_of_week#3, airline#4, flight_number#5, tail_number#6, origin_airport#7, destination_airport#8, scheduled_departure#9, departure_time#10, departure_delay#11, taxi_out#12, wheels_off#13, scheduled_time#14, elapsed_time#15, air_time#16, distance#17, wheels_on#18, taxi_in#19, scheduled_arrival#20, arrival_time#21, arrival_delay#22, diverted#23, ... 7 more fields]
      +- InMemoryRelation [year#0, month#1, day#2, day_of_week#3, airline#4, flight_number#5, tail_number#6, origin_airport#7, destination_airport#8, scheduled_departure#9, departure_time#10, departure_delay#11, taxi_out#12, wheels_off#13, scheduled_time#14, elapsed_time#15, air_time#16, distance#17, wheels_on#18, taxi_in#19, scheduled_arrival#20, arrival_time#21, arrival_delay#22, diverted#23, ... 7 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
            +- AdaptiveSparkPlan isFinalPlan=false
               +- Sort [year#0 ASC NULLS FIRST, month#1 ASC NULLS FIRST, day#2 ASC NULLS FIRST, scheduled_departure#9 ASC NULLS FIRST], true, 0
                  +- Exchange rangepartitioning(year#0 ASC NULLS FIRST, month#1 ASC NULLS FIRST, day#2 ASC NULLS FIRST, scheduled_departure#9 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=49]
                     +- FileScan csv [year#0,month#1,day#2,day_of_week#3,airline#4,flight_number#5,tail_number#6,origin_airport#7,destination_airport#8,scheduled_departure#9,departure_time#10,departure_delay#11,taxi_out#12,wheels_off#13,scheduled_time#14,elapsed_time#15,air_time#16,distance#17,wheels_on#18,taxi_in#19,scheduled_arrival#20,arrival_time#21,arrival_delay#22,diverted#23,... 7 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/iceberg/data/flights.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<year:int,month:int,day:int,day_of_week:int,airline:string,flight_number:int,tail_number:st...

In [ ]:
# Experimenting

# flights_df.groupBy(['flight_number', 'tail_number']).count().show()
# flights_df.filter(col('flight_number') == 2519).sort(['airline', 'month', 'day']).show(50)

# # Spark SQL
# date_df = flights_df.select(['year', 'month', 'day', 'day_of_week']).withColumn('date', expr('to_date(concat(year, "-", month))'))

In [135]:
## Create dim_date table
# Create date_df, we extract the date info from flights_df and dedup,
# Then add columns for date and quarter
date_df = flights_df \
    .select(['year', 'month', 'day', 'day_of_week']) \
    .dropDuplicates(['year', 'month', 'day', 'day_of_week']) \
    .withColumn('date', to_date(concat_ws('-', 'year', 'month', 'day'))) \
    .withColumn('quarter', quarter('date'))
date_df.cache()
# date_df.show()

# List of U.S. federal holidays
us_holidays_2015 = [
    ("2015-01-01", "New Year's Day"),
    ("2015-01-19", "Martin Luther King Jr. Day"),
    ("2015-02-16", "Presidents' Day"),
    ("2015-05-25", "Memorial Day"),
    ("2015-07-04", "Independence Day"),
    ("2015-09-07", "Labor Day"),
    ("2015-10-12", "Columbus Day"),
    ("2015-11-11", "Veterans Day"),
    ("2015-11-26", "Thanksgiving Day"),
    ("2015-12-25", "Christmas Day"),
]

# Create holidays_df and cast date from STRING to DATE type
holidays_df = spark.createDataFrame(us_holidays_2015, ['holiday_date', 'holiday_name'])
holidays_df = holidays_df.withColumn('holiday_date', to_date('holiday_date'))

# Join holidays to date_df and add is_holiday column
date_df = date_df \
    .join(
        holidays_df,
        date_df.date == holidays_df.holiday_date,
        'left'
    ) \
    .withColumn(
        'is_holiday',
        when(col('holiday_name').isNotNull(), lit(True)).otherwise(lit(False))
    ) \
    .drop('holiday_date') \
    .sort('date')

# Rearrange date to be first column,
date_df = date_df.select('date', *[col(c) for c in date_df.columns if c != 'date'])

date_df.show()

24/12/21 06:59:36 WARN CacheManager: Asked to cache already cached data.

+----------+----+-----+---+-----------+-------+--------------------+----------+
|      date|year|month|day|day_of_week|quarter|        holiday_name|is_holiday|
+----------+----+-----+---+-----------+-------+--------------------+----------+
|2015-01-01|2015|    1|  1|          4|      1|      New Year's Day|      true|
|2015-01-02|2015|    1|  2|          5|      1|                NULL|     false|
|2015-01-03|2015|    1|  3|          6|      1|                NULL|     false|
|2015-01-04|2015|    1|  4|          7|      1|                NULL|     false|
|2015-01-05|2015|    1|  5|          1|      1|                NULL|     false|
|2015-01-06|2015|    1|  6|          2|      1|                NULL|     false|
|2015-01-07|2015|    1|  7|          3|      1|                NULL|     false|
|2015-01-08|2015|    1|  8|          4|      1|                NULL|     false|
|2015-01-09|2015|    1|  9|          5|      1|                NULL|     false|
|2015-01-10|2015|    1| 10|          6|      1|                NULL|     false|
|2015-01-11|2015|    1| 11|          7|      1|                NULL|     false|
|2015-01-12|2015|    1| 12|          1|      1|                NULL|     false|
|2015-01-13|2015|    1| 13|          2|      1|                NULL|     false|
|2015-01-14|2015|    1| 14|          3|      1|                NULL|     false|
|2015-01-15|2015|    1| 15|          4|      1|                NULL|     false|
|2015-01-16|2015|    1| 16|          5|      1|                NULL|     false|
|2015-01-17|2015|    1| 17|          6|      1|                NULL|     false|
|2015-01-18|2015|    1| 18|          7|      1|                NULL|     false|
|2015-01-19|2015|    1| 19|          1|      1|Martin Luther Kin...|      true|
|2015-01-20|2015|    1| 20|          2|      1|                NULL|     false|
+----------+----+-----+---+-----------+-------+--------------------+----------+
only showing top 20 rows

In [139]:
# Original day_of_week 1 is Monday, spark dayofweek 1 is Sunday
date_df = spark.range(365) \
    .withColumn('date', expr('date_add("2015-01-01", CAST(id AS INT))')) \
    .withColumn('year', year('date')) \
    .withColumn('month', month('date')) \
    .withColumn('day', day('date')) \
    .withColumn('day_of_week', dayofweek('date')) \
    .withColumn('quarter', quarter('date')) \
    .drop('id')

date_df.show()

+----------+----+-----+---+-----------+-------+
|      date|year|month|day|day_of_week|quarter|
+----------+----+-----+---+-----------+-------+
|2015-01-01|2015|    1|  1|          5|      1|
|2015-01-02|2015|    1|  2|          6|      1|
|2015-01-03|2015|    1|  3|          7|      1|
|2015-01-04|2015|    1|  4|          1|      1|
|2015-01-05|2015|    1|  5|          2|      1|
|2015-01-06|2015|    1|  6|          3|      1|
|2015-01-07|2015|    1|  7|          4|      1|
|2015-01-08|2015|    1|  8|          5|      1|
|2015-01-09|2015|    1|  9|          6|      1|
|2015-01-10|2015|    1| 10|          7|      1|
|2015-01-11|2015|    1| 11|          1|      1|
|2015-01-12|2015|    1| 12|          2|      1|
|2015-01-13|2015|    1| 13|          3|      1|
|2015-01-14|2015|    1| 14|          4|      1|
|2015-01-15|2015|    1| 15|          5|      1|
|2015-01-16|2015|    1| 16|          6|      1|
|2015-01-17|2015|    1| 17|          7|      1|
|2015-01-18|2015|    1| 18|          1|      1|
|2015-01-19|2015|    1| 19|          2|      1|
|2015-01-20|2015|    1| 20|          3|      1|
+----------+----+-----+---+-----------+-------+
only showing top 20 rows

# Explore data!
TODO:
- Check statistics of important columns, like what are the percentiles for departure/arrival delay?
- Check max values for delay

## Total number of flight records: 5,819,079

In [32]:
flights_df.count()

5819079

## Total number of cancelled flights: 89,884, Total number of diverted flights: 15,187
These will cause nulls in other columns.

In [37]:
flights_df.where('cancelled = 1').count()

89884

In [35]:
flights_df.where('diverted = 1').count()

15187

## Get Null counts for each column

In [31]:
flights_df.select([count(when(isnull(c), c)).alias(c) for c in data.columns]).show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|   0|    0|  0|          0|      0|            0|      14721|             0|                  0|                  0|         86153|          86153|   89047|     89047|             6|      105071|  105071|       0|    92513|  92513|                0|       92513|       105071|       0|        0|            5729195|         4755640|       4755640|      4755640|            4755640|      4755640|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

## Investigate some causes for nulls in each column

In [48]:
# List of columns with null values
null_columns = [col for col in flights_df.columns if flights_df.filter(f"{col} IS NULL").count() > 0]

# Iterate through columns to investigate null causes
for col in null_columns:
    print(f"Investigating nulls in column: {col}")
    # Count rows where column is null and cancelled == 1
    count = flights_df.where(f"`{col}` IS NULL AND cancelled = 1").count()
    print(f"Nulls in {col} where flight is cancelled: {count}\n")

Investigating nulls in column: tail_number

Nulls in tail_number where flight is cancelled: 14721

Investigating nulls in column: departure_time

Nulls in departure_time where flight is cancelled: 86153

Investigating nulls in column: departure_delay

Nulls in departure_delay where flight is cancelled: 86153

Investigating nulls in column: taxi_out

Nulls in taxi_out where flight is cancelled: 89047

Investigating nulls in column: wheels_off

Nulls in wheels_off where flight is cancelled: 89047

Investigating nulls in column: scheduled_time

Nulls in scheduled_time where flight is cancelled: 5

Investigating nulls in column: elapsed_time

Nulls in elapsed_time where flight is cancelled: 89884

Investigating nulls in column: air_time

Nulls in air_time where flight is cancelled: 89884

Investigating nulls in column: wheels_on

Nulls in wheels_on where flight is cancelled: 89884

Investigating nulls in column: taxi_in

Nulls in taxi_in where flight is cancelled: 89884

Investigating nulls in column: arrival_time

Nulls in arrival_time where flight is cancelled: 89884

Investigating nulls in column: arrival_delay

Nulls in arrival_delay where flight is cancelled: 89884

Investigating nulls in column: cancellation_reason

Nulls in cancellation_reason where flight is cancelled: 0

Investigating nulls in column: air_system_delay

Nulls in air_system_delay where flight is cancelled: 89884

Investigating nulls in column: security_delay

Nulls in security_delay where flight is cancelled: 89884

Investigating nulls in column: airline_delay

Nulls in airline_delay where flight is cancelled: 89884

Investigating nulls in column: late_aircraft_delay

Nulls in late_aircraft_delay where flight is cancelled: 89884

Investigating nulls in column: weather_delay

Nulls in weather_delay where flight is cancelled: 89884

#### Tail_number - all Nulls are from cancelled flights
Although, not all cancelled flights have Nulls in tail_number. Possibly some flights are cancelled before an aircraft is assigned to the flight.

In [40]:
flights_df.where('tail_number IS NULL AND cancelled = 1').count()

14721

In [44]:
flights_df.where('departure_time IS NULL and cancelled = 1').count()

86153

#### Scheduled_time - 6 Nulls, 5 out of 6 flight were cancelled, 1 flight was diverted
These flights took off, but did not arrive in destination.
Scheduled_time is the estimated time in air?

In [28]:
flights_df.where('scheduled_time IS NULL').show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|year|month|day|day_of_week|airline|flight_number|tail_number|origin_airport|destination_airport|scheduled_departure|departure_time|departure_delay|taxi_out|wheels_off|scheduled_time|elapsed_time|air_time|distance|wheels_on|taxi_in|scheduled_arrival|arrival_time|arrival_delay|diverted|cancelled|cancellation_reason|air_system_delay|security_delay|airline_delay|late_aircraft_delay|weather_delay|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    2|  1|          7|     NK|          416|     N627NK|           FLL|                IAG|               2215|          2206|             -9|      21|      2227|          NULL|        NULL|    NULL|    1176|     NULL|   NULL|              107|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    2| 10|          2|     NK|          416|     N632NK|           FLL|                IAG|               2215|          2206|             -9|      16|      2222|          NULL|        NULL|    NULL|    1176|     NULL|   NULL|              107|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    4| 20|          1|     NK|          174|     N630NK|           FLL|                LGA|               1602|          1857|            175|      24|      1921|          NULL|        NULL|    NULL|    1076|     NULL|   NULL|             1900|        NULL|         NULL|       1|        0|               NULL|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    4| 26|          7|     NK|          720|     N614NK|           DEN|                DFW|               2059|          2057|             -2|      13|      2110|          NULL|        NULL|    NULL|     641|     NULL|   NULL|             2350|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    5|  9|          6|     NK|          324|     N620NK|           MCO|                ACY|               2130|          2152|             22|      18|      2210|          NULL|        NULL|    NULL|     852|     NULL|   NULL|             2340|        NULL|         NULL|       0|        1|                  B|            NULL|          NULL|         NULL|               NULL|         NULL|
|2015|    5| 10|          7|     NK|          368|     N534NK|           ORD|                BWI|                825|          1214|            229|      18|      1232|          NULL|        NULL|    NULL|     622|     NULL|   NULL|             1118|        NULL|         NULL|       0|        1|                  C|            NULL|          NULL|         NULL|               NULL|         NULL|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

# Write to staging Iceberg Table

In [13]:
# Drop flights table
spark.sql('DROP TABLE airline.db.flights PURGE')

DataFrame[]

In [14]:
# Create flights table if not exists
spark.sql("""
CREATE TABLE IF NOT EXISTS airline.db.flights (
    year INT,
    month INT,
    day INT,
    day_of_week INT,
    airline STRING,
    flight_number INT,
    tail_number STRING,
    origin_airport STRING,
    destination_airport STRING,
    scheduled_departure INT,
    departure_time INT,
    departure_delay INT,
    taxi_out INT,
    wheels_off INT,
    scheduled_time INT,
    elapsed_time INT,
    air_time INT,
    distance INT,
    wheels_on INT,
    taxi_in INT,
    scheduled_arrival INT,
    arrival_time INT,
    arrival_delay INT,
    diverted INT,
    cancelled INT,
    cancellation_reason STRING,
    air_system_delay INT,
    security_delay INT,
    airline_delay INT,
    late_aircraft_delay INT,
    weather_delay INT
)
USING iceberg
PARTITIONED BY (month)
""")

DataFrame[]

In [15]:
# Write flights data
flights_df \
    .writeTo('airline.db.flights') \
    .append()

In [24]:
# # Create database if not exists
# spark.sql('CREATE DATABASE IF NOT EXISTS db')

# print(spark.catalog.tableExists('airline.db.flights'))

# # Create flights table if not exists
# if not spark.catalog.tableExists('airline.db.flights'):
#     spark.catalog.createTable(
#         'airline.db.flights',
#         schema=flights_schema,
#         source='iceberg',
#         partitioning='month'
#     )

# spark.catalog.getTable('airline.db.flights')

False

Table(name='flights', catalog='airline', namespace=['db'], description=None, tableType='MANAGED', isTemporary=False)

In [9]:
spark.sql('DESCRIBE EXTENDED airline.db.flights').show()

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|               year|      int|   NULL|
|              month|      int|   NULL|
|                day|      int|   NULL|
|        day_of_week|      int|   NULL|
|            airline|   string|   NULL|
|      flight_number|      int|   NULL|
|        tail_number|   string|   NULL|
|     origin_airport|   string|   NULL|
|destination_airport|   string|   NULL|
|scheduled_departure|      int|   NULL|
|     departure_time|      int|   NULL|
|    departure_delay|      int|   NULL|
|           taxi_out|      int|   NULL|
|         wheels_off|      int|   NULL|
|     scheduled_time|      int|   NULL|
|       elapsed_time|      int|   NULL|
|           air_time|      int|   NULL|
|           distance|      int|   NULL|
|          wheels_on|      int|   NULL|
|            taxi_in|      int|   NULL|
+-------------------+---------+-------+
only showing top 20 rows

#### HIDDEN PARTITIONING!?
When partitioning on year, still getting 12 files in 1 partition.

Dataset came sorted by date, so hidden partitioning was automatically splitting into 12 parquet files?

When partitioning on month, what is the behavior?

In [45]:
metrics = spark.sql('select readable_metrics from airline.db.flights.files').collect()

# Check lower and upper bounds on month to ensure partitioning by month is being performed correctly
for metric in metrics:
    temp = metric.asDict()['readable_metrics'].asDict()['month']
    print(temp)

Row(column_size=1136, value_count=479230, null_value_count=0, nan_value_count=None, lower_bound=12, upper_bound=12)
Row(column_size=1136, value_count=469968, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=1)
Row(column_size=1225, value_count=503897, null_value_count=0, nan_value_count=None, lower_bound=6, upper_bound=6)
Row(column_size=1224, value_count=504312, null_value_count=0, nan_value_count=None, lower_bound=3, upper_bound=3)
Row(column_size=1182, value_count=496993, null_value_count=0, nan_value_count=None, lower_bound=5, upper_bound=5)
Row(column_size=1133, value_count=464946, null_value_count=0, nan_value_count=None, lower_bound=9, upper_bound=9)
Row(column_size=1179, value_count=485151, null_value_count=0, nan_value_count=None, lower_bound=4, upper_bound=4)
Row(column_size=1228, value_count=510536, null_value_count=0, nan_value_count=None, lower_bound=8, upper_bound=8)
Row(column_size=1271, value_count=520718, null_value_count=0, nan_value_count=None, lower_bound=7, upper_bound=7)
Row(column_size=1178, value_count=486165, null_value_count=0, nan_value_count=None, lower_bound=10, upper_bound=10)
Row(column_size=1133, value_count=467972, null_value_count=0, nan_value_count=None, lower_bound=11, upper_bound=11)
Row(column_size=1044, value_count=429191, null_value_count=0, nan_value_count=None, lower_bound=2, upper_bound=2)

#### Checking table metadata

In [4]:
%%sql
SELECT
    *
FROM airline.db.flights.partitions

24/12/20 04:33:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|     partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+---------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|  Row(month=8) |       0 |       510536 |          1 |                      11439099 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=9) |       0 |       464946 |          1 |                      10218131 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=6) |       0 |       503897 |          1 |                      11434535 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=7) |       0 |       520718 |          1 |                      11755348 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
| Row(month=12) |       0 |       479230 |          1 |                      10767738 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
| Row(month=10) |       0 |       486165 |          1 |                      10651549 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
| Row(month=11) |       0 |       467972 |          1 |                      10373628 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=1) |       0 |       469968 |          1 |                      10532934 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=4) |       0 |       485151 |          1 |                      10816223 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=5) |       0 |       496993 |          1 |                      11088572 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=2) |       0 |       429191 |          1 |                       9701043 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
|  Row(month=3) |       0 |       504312 |          1 |                      11302473 |                            0 |                          0 |                            0 |                          0 | 2024-12-19 20:34:47.122000 |      1297397742035865824 |
+---------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

In [32]:
%%sql
SELECT
    *
FROM airline.db.flights.files

+---------+--------------------------------------------------------------------------------------------------------+-------------+---------+---------------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+---------------+--------------+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                              file_path | file_format | spec_id |     partition | record_count | file_size_in_bytes |                                                                                                                                                                                                                                                                                                                                                  column_sizes |                                                                                                                                                                                                                                                                                                                                                                value_counts |                                                                                                                                                                                                                                                                         null_value_counts | nan_value_counts |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         lower_bounds |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 readable_metrics |

In [17]:
%%sql
SELECT
    SUM(file_size_in_bytes)
FROM airline.db.flights.files

+-------------------------+
| sum(file_size_in_bytes) |
+-------------------------+
|               130081273 |
+-------------------------+

In [19]:
%%sql
SELECT 
    partition
FROM 
    airline.db.flights.files
WHERE 
    null_value_counts['7'] > 0
GROUP BY 
    partition

+---------------+
|     partition |
+---------------+
| Row(month=12) |
|  Row(month=1) |
|  Row(month=6) |
|  Row(month=3) |
|  Row(month=5) |
|  Row(month=9) |
|  Row(month=4) |
|  Row(month=8) |
|  Row(month=7) |
| Row(month=10) |
| Row(month=11) |
|  Row(month=2) |
+---------------+